*.swp
*.pyc
*.bak
*~
~*
*Thumbs.db
*.tar.gz
*.svn
logs/*
*.DS_Store
*settings.py
*config.py

/www/
/static/
/templates/www
/htdocs/static

!/www/base/
!/static/base/
!/templates/www/base
!/htdocs/static/base
