/* dir tree */
#J_system_dir_root .cobra_system_dir,
#J_system_dir_root .cobra_system_file{
	*zoom:1;
}
#J_system_dir_root{
	margin-bottom:20px;
    margin-left:10px;
	margin-top:-12px;
	background:#fff;
}
#J_system_dir_root .cobra_system_dir,
#J_system_dir_root .cobra_system_file{
	background:url(../img/dir_icon.png) repeat-y -17px 0;
    padding-left:24px;
    position:relative;
}
#J_system_dir_root .cobra_system_dir_name,
#J_system_dir_root .cobra_system_file_name{
	border-bottom:1px dotted #808080;
    float:left;
    left:-1px;
    margin-left:-23px;
    padding-left:33px;
    position:relative;
	z-index:9;
	height:27px;
}
#J_system_dir_root,
#J_system_dir_root .cobra_system_sub_dir{
	clear:both;
}
#J_system_dir_root a{
	background-color:#fff;
    display:inline-block;
    height:27px;
    line-height:27px;
    padding-left:3px;
    padding-right:5px;
    position:absolute;
    top:14px;
    white-space:nowrap;
	z-index:9;
}
#J_system_dir_root .system_cobra_current{
	color:#f30;
}
#J_system_dir_root a:hover{
	color:#333;
	text-decoration:underline;
}
#J_system_dir_root .cobra_system_flag,
#J_system_dir_root .cobra_system_type{
	background-color:#FFFFFF;
    background-image:url("../img/dir_icon.png");
    background-repeat:no-repeat;
    overflow:hidden;
    position:absolute;
	z-index:9;
}
#J_system_dir_root .cobra_system_type{
	height:16px;
    left:17px;
    top:20px;
    width:16px;
	background-position:0 -19px;
}
#J_system_dir_root .cobra_system_flag{
	cursor:pointer;
    height:11px;
    left:-5px;
    top:22px;
    width:11px;
	background-position:-3px -60px;
}
#J_system_dir_root .cobra_system_dir_name{
	font-size:14px;
	font-weight:700;
	margin-bottom:5px;
}
#J_system_dir_root .cobra_system_dir_name a{
	color:#333;
	position:relative;
}
#J_system_dir_root .cobra_system_file .cobra_system_type{
	background-position:0 -40px;
}
#J_system_dir_root .close .cobra_system_sub_dir{
	display:none;
}
#J_system_dir_root .close .cobra_system_dir_name .cobra_system_type{
	background-position:0 0;
}
#J_system_dir_root .close .cobra_system_flag{
	background-position:-3px -75px;
}
#J_system_dir_root .system_cobra_search_result{
	background-color:#3b5998;
	color:#fff;
}
#J_system_dir_root .system_cobra_search_result:hover{
	color:#fff;
}
#J_system_dir_root .system_cobra_search_current{
	background-color:#f30;
	color:#fff;
}
