@import "dirs.css";
html{
	_padding:37px 0 26px;
}
html,body{
	overflow:hidden;
	height:100%;
}
body,ul,ol,p,dl,dd,form,textarea,h1,h2,h3,h4,fieldset,input{
    margin:0;
}

ul,ol,input,button,td,th,fieldset{
    padding:0;
}
ul,ol{
    list-style-type:none;
    list-style-position:outside;
}
a{
    text-decoration:none;
    color:#3B5998;
}
a:hover{
	text-decoration:underline;
}
a img,fieldset{
    border:none;
}
fieldset legend{
	display:none
}
a,input,button,textarea{
	outline:none;
}
textarea{
	resize:none
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
em{
    font-style:normal
}
.clear{
    clear:both;
}
.clearfix:after,
.details_item .item_cont:after{
    content:'';
    height:0;
    clear:both;
    display:block;
    overflow:hidden;
}
.clearfix,
.details_item .item_cont:after{
	*zoom:1;
}
body{
    font:12px/1.5 "微软雅黑",Tahoma,simsun,'宋体',Helvetica,simsun,sans-serif;
    color:#222;
	background:url(../img/loading.gif) no-repeat -999px -999px #E0E0E0;
}

/* scroll box start*/
.shtml{
	position:relative;
	overflow-x:hidden;
	overflow-y:scroll;
}
.sbody{
	/*margin-right:12px;*/
}
.scroll,
.scroll .slider{
	width:12px;
	position:absolute;
}
.scroll{
	height:100%;
	background:#f8f8f8;
	top:0;
	right:0;
}
.scroll .slider{
	text-indent:-999em;
	overflow:hidden;
	width:100%;
	height:100%;
	background:#555;
}
.scroll:hover .slider{
	background:#3b5998;
}

/* scroll box end */
.form .txt{
	-webkit-transition: 0.3s linear all;
	-moz-transition: 0.3s linear all;
	-ms-transition: 0.3s linear all;
	-o-transition: 0.3s linear all;
	-khtml-transition: 0.3s linear all;
	transition: 0.3s linear all;
}
.layout{
	background-color:#e0e0e0;
	/*background-color:red;*/
	position:absolute;
	top:37px;
	bottom:25px;
	width:100%;
	_height:100%;
}
/* reset style end */


/* base style start */
.fleft{
	float:left;
}
.fright{
	float:right;
}
.btn,
.btn span{
	display:inline-block;
	overflow:hidden;
	cursor:pointer;
	text-align:center;
}
.btn{
	position:relative;
	vertical-align:middle;
	zoom:1;
} 
.btn span{
	*filter:alpha(opacity=100);
}
.btn input{
	width:999px;
	height:999px;
	position:absolute;
	left:0;
	top:0;
	z-index:99;
	cursor:pointer;
	opacity:0;
	filter:alpha(opacity=0);
}
.btn:hover{
	text-decoration:none;
}
.hor_box,
.hor_list,
.justify_box,
.justify_list{
	letter-spacing:-0.5em;
	font-size:0;
	*zoom:1;
}
.justify_box,
.justify_list{
	text-align:justify;
	text-justify:distribute-all-lines;
}
.justify_box:after,
.justify_list:after{
	content:"";
	display:inline-block;
	width:100%;
	height:0;
	overflow:hidden;
}
.hor_item,
.hor_list li,
.justify_item,
.justify_list li{
	display:inline-block;
	letter-spacing:normal;
	font-size:12px;
	vertical-align:top;
	text-align:left;
	text-justify:auto;
	*display:inline;
	*zoom:1;
}
.arrow{
	display:inline-block;
	width:0;
	height:0;
	overflow:hidden;
	border-style:solid;
	border-color:transparent;
	vertical-align:middle;
}
/* base style end */

/* header style */
.hd,
.ft{
	position:fixed;
	width:100%;
	left:0;
	min-width:900px;
	z-index:9999;
	_position:absolute;
}
.hd{
	background-color:#3B5998;
	top:0;
}
.hd .logo{
	position:absolute;
	left:0;
	height:36px;
	line-height:36px;
	width:194px;
	border-bottom:1px solid #2C4270;
	font-size:16px;
	text-align:center;
	font-weight:400;
	box-shadow:-1px -1px 1px #2C4270 inset;
}
.hd .logo a{
	color:#fff;
	display:inline-block;
	height:100%;
	padding-left:20px;
	background:url(../img/logo.png) no-repeat 0 0;
}
.hd .logo a:hover{
	text-decoration:none;
}
.hd .nav{
	height:36px;
	padding-right:300px;
	margin-left:192px;
	padding-left:24px;
	border-bottom:1px solid #2C4270;
	box-shadow:0 -1px 1px #2C4270 inset;
}
.hd .nav li{
	padding:0 2px;
}
.hd .nav a{
	color:#fff;
	display:inline-block;
	margin-top:10px;
	padding-left:8px;
	padding-right:8px;
}
.hd .nav .current,
.hd .nav a:hover{
	background:#FFF;
	color:#3B5998;
	border-radius:2px;
	text-decoration:none;
	zoom:1;
}
.hd .search{
	position:absolute;
	height:22px;
	padding-top:2px;
	right:3px;
	top:3px;
	_top:1px;
}
.hd .search .txt{
	border: 1px solid #CCCCCC;
    height: 24px;
    line-height: 24px;
    padding-left: 2px;
    vertical-align: middle;
    width:180px;
}
.hd span.btn{
	background: url(../img/icon.png) no-repeat scroll left -203px #FFFFFF;
    border: 1px solid #CCCCCC;
    display: inline-block;
    height: 24px;
    left: -5px;
    position: relative;
    vertical-align: middle;
    width: 40px;
}
.hd input.btn{
	cursor: pointer;
    height: 30px;
    opacity: 0;
	filter:alpha(opacity=0);
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}
.wp{
	padding-top:6px;
	padding-bottom:12px;
}
.main{
	width:100%;
	overflow:hidden;
}
.main_inner{
	margin-right:192px;
	position:relative;
	zoom:1;
}
.side{
	width:192px;
	margin-left:-192px;
	overflow:hidden;
}
.ft{
	font-size:12px;
	height:25px;
	overflow:hidden;
	line-height:25px;
	color:#888;
	bottom:0;
	background:#333;
}
.ft .nav{
	position:relative;
	z-index:1;
}
.ft p{
	padding-left:12px;
	padding-right:12px;
}
.ft a{
	color:#fff;
}
.ft a:hover{
	background-color:transparent;
	text-decoration:underline;
}
.ft .crumbs{
	position:absolute;
	width:100%;
	text-align:center;
	font-family:"宋体";
	color:#fff;
}
.box{
	background:#FFF;
	border-bottom:2px solid #E2E2E9;
	margin:0 3px 12px;
	border-radius:3px;
	position:relative;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#CCCCCC', Direction=135, Strength=3);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	zoom:1;
}
.box .bt{
	border-bottom:1px solid #E2E2E2;
	height:30px;
	line-height:30px;
	padding-left:8px;
}
.box .bt .tit{
	font-size:14px;
	color:#333;
	font-weight:700;
	vertical-align:middle;
	display:inline-block;
	height:30px;
}
.box .bc{
	margin:8px;
}
.box .extra{
	position:absolute;
	right:12px;
	top:0;
	height:30px;
	line-height:30px;
}
/* form 
.form .txt,
.form .radio,
.form .checkbox,
.form .field,
.form .select{
	vertical-align:middle;
}
.form .txt{
	background-color:#fff;
    border: 1px solid #888;
    height: 30px;
    line-height: 30px;
    padding-left: 2px;
	border-radius:2px;
}
.form .field{
	font-size:14px;
	display:inline-block;
	width:100px;
	margin-left:-100px;
	text-align:right;
}

.form .radio,
.form .checkbox{
	display:inline-block;
	height:32px;
	line-height:32px;
	overflow:hidden;
	font-size:14px;
	padding-left:22px;
	cursor:pointer;
	background-image:url(../img/icon.png);
	background-repeat:no-repeat;
	position:relative;
	zoom:1;
}
.form .hide_field{
	position:absolute;
	top:0;
	left:0;
}
.form .radio{
	background-position:0 7px;
}
.form .r_checked{
	background-position:0 -43px;
}
.form .checkbox{
	background-position:0 -143px;
}
.form .c_checked{
	background-position:0 -93px;
}
.form .txt:focus,
.form .focus{
	border-color:#1C6E98;
	box-shadow:0 0 2px #1C6E98;
}
.form .err{
	border-color:#E50000;
	box-shadow:0 0 2px #E50000;
}
.form .item{
	margin-bottom:12px;
	padding-left:100px;
	position:relative;
	zoom:1;
}
.form .select{
	display:inline-block;
	height:30px;
	border:1px solid #ccc;
	position:relative;
	cursor:pointer;
	*display:inline;
	*zoom:1;
}
.form .select ol{
	position:absolute;
	left:0;
	top:30px;
	z-index:999;
	background-color:#fff;
	border:1px solid #ccc;
	margin:0 -1px;
}
.form .cur_option{
	line-height:30px;
}
.form .w100{width:100px;}
.form .w150{width:150px;}
.form .w200{width:200px;}
.form .w250{width:250px;}
.form .w300{width:300px;}
.form .w350{width:350px;}
.form .w400{width:400px;}

*/
/* table */
.table{
	width:100%;
	text-align:center;
}
.table th{
	font-size:14px;
	height:30px;
	background-color:#F0F0F0;
}
.table td,
.table th{
	border:1px solid #ccc;
}
.table td{
	padding-top:10px;
	padding-bottom:10px;
}
.table .even{
	background-color:#F8F8F8;
}
.table .aleft{
	text-align:left;
	text-indent:1em;
}
.table .a_commonly,
.table .b_higher,
.table .c_exigence,
.table .d_rightnow,
.icon_guide .item{
	border-left-width:5px;
	border-left-style:solid;
}
.table .d_rightnow,
.icon_guide .d_rightnow{
	border-left-color:#f00;
}
.table .c_exigence,
.icon_guide .c_exigence{
	border-left-color:#f99;
}
.table .b_higher,
.icon_guide .b_higher{
	border-left-color:#fdd;
}
.table .a_commonly,
.icon_guide .a_commonly{
	border-left-color:#eee;
}

/* emptybox  */
.emptybox{
	line-height:45px;
	text-align:center;
}

/* info_list  */

/* icon_guide  */
.icon_guide,
.icon_guide .item{
	vertical-align:middle;
}
.icon_guide .item{
	display:inline-block;
	height:9px;
	width:0;
	font-size:0;
	overflow:hidden;
	margin-left:12px;
	margin-right:3px;
}

/* btnbox */
.btnbox .btn{
	margin-bottom:12px;
}

/* gray_btn */
.gray_btn{
	border-bottom:1px solid #E5E6E9;
	height:24px;
}
.gray_btn span{
	border:1px solid #9A9A9A;
	background:#eaeae9;
	background:-webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(234,234,233)),
		color-stop(1, rgb(255,255,255))
	);
	background:-moz-linear-gradient(
		center bottom,
		rgb(234,234,233) 0%,
		rgb(255,255,255) 100%
	);
	color:#424242;
	padding:2px 12px;
}
.gray_btn:hover{
	color:#FFF;
}
.gray_btn:hover span{
	background:#6C84B7;
	color:#FFF;
	border-color:#395A9C;
}
.newitem{
	margin-bottom:-12px;
}
.newitem .gray_btn span{
	width:50px;
}


/* state icon */
.icon_state{
	display:inline-block;
	width:16px;
	height:16px;
	overflow:hidden;
	font-size:0;
	background-image:url(../img/icon.png);
	background-repeat:no-repeat;
	vertical-align:middle;
}
.a_nostart{
	background-position:right -298px;
}
tr:hover .a_nostart{
	background-position:2px -298px;
}
.b_apportion{
	background-position:right -255px;
}
tr:hover .b_apportion{
	background-position:2px -255px;
}
.b_doing,
.c_doing{
	background-position:right -367px;
}
tr:hover .b_doing,
tr:hover .c_doing{
	background-position:2px -367px;
}
.c_confirming,
.d_confirming{
	background-position:right -275px;
}
tr:hover .c_confirming,
tr:hover .d_confirming{
	background-position:2px -275px;
}
.d_reviseing,
.e_reviseing{
	background-position:right -392px;
}
tr:hover .d_reviseing,
tr:hover .e_reviseing{
	background-position:2px -392px;
}
.e_over,
.f_over{
	background-position:right -322px;
}
tr:hover .e_over,
tr:hover .f_over{
	background-position:2px -322px;
}
.a_new{
	background-position:right -347px;
}
tr:hover .a_new{
	background-position:2px -347px;
}

/* media */
.media .pic{
	margin-right:5px;
}
.media .txt{
	margin-top:-2px;
}

/* project_count */
.count_box .item{
	margin-bottom:5px;
}
.count_box .icon_state{
	margin-right:8px;
}

/* degreebar */
.degreebar{
	height:4px;
	border:1px solid #ADBEDA;
	margin:0 5px;
	position:relative;
	text-align:left;
	border-radius:2px;
	box-shadow:0 0 2px #999;
	zoom:1;
	cursor:default;
}
.degreebar .degree{
	height:100%;
	overflow:hidden;
	text-indent:-999em;
	background:#7F96C1;
	cursor:default;
}
.degreebar .degree_number{
	position:absolute;
	width:80px;
	height:18px;
	line-height:17px;
	left:50%;
	margin-left:-40px;
	top:-7px;
	text-align:center;
	cursor:default;
}

/* userlist */
.user_list{
	margin-bottom:-10px;
}
.user_list .media{
	*zoom:-1;
}
.user_list .user_item{
	margin-bottom:20px;
	width:24.99%;
	overflow:hidden;
}

/* related_users */
.related_users{
	overflow:hidden;
	position:relative;
	zoom:1;
}
.related_users .user_item{
	padding:8px 0;
	border-top:1px dotted #ccc;
	margin-top:-1px;
}

/* details */
.details .dleft{
	width:68%;
	position:relative;
	z-index:99;
}
.details .dright{
	width:31.9%;
	zoom:1;
	position:relative;
}
.details .dleft .fileslist{
	width:49.5%;
	position:relative;
}
.details .fileslist .list{
	overflow-x:auto;
}
.fileslist .dirname{
	font-size:12px;
	background:#fff;
	position:relative;
	z-index:9;
}
.fileslist .absolute_path{
	display:block;
	font-weight:400;
	background:#333;
	color:#FFF;
	margin-right:2px;
	border:1px solid #ccc;
	height:17px;
	line-height:19px;
	font-family:"宋体";
}
.fileslist .extra{
	font-weight:400;
	top:-5px;
	right:5px;
	color:#3b5998;
}
.fileslist .extra span{
	display:inline-block;
	background-image:url(../img/icon.png);
	background-repeat:no-repeat;
	cursor:pointer;
	padding-left:18px;
	margin-left:8px;
}
#J_get_static_list{
	background-position:0 -677px;
}
#J_handle_css{
	background-position:0 -710px;
}
#J_batch_psd{
	background-position:0 -744px;
}
.details_item{
	zoom:1;
}
.details_item .item_name{
	width:114px;
	float:left;
	margin-left:-100%;
	position:relative;
	left:100%;
	text-align:right;
	font-weight:700;
}
.details_item .item_cont{
	padding-left:120px;
	margin-bottom:12px;
	padding-right:12px;
}
.details_item .icon_state{
	vertical-align:top;
}
.details_item .a_new{
	margin-top:3px;
}
.details_item .a_nostart,
.details_item .b_doing,
.details_item .c_doing{
	margin-top:1px;
}
.details_item .b_apportion,
.details_item .d_reviseing,
.details_item .e_reviseing,
.details_item .e_over,
.details_item .f_over{
	margin-top:2px;
}
.details_item .degreebar{
	margin-top:19px;
	vertical-align:top;
}
.details_item .stat_text{
	display:inline-block;
	margin-left:3px;
}
.details_item .fileitem{
	display:inline-block;
	border:1px solid #ccc;
	height:23px;
	line-height:23px;
	margin-top:-3px;
	margin-bottom:8px;
	padding-left:5px;
	padding-right:5px;
	position:relative;
	border-radius:2px;
	margin-right:3px;
	overflow:hidden;
	box-shadow:0 0 3px #ccc;
	zoom:1;
}
.details_item .fileitem .J_break_auto_file{
	position:absolute;
	width:18px;
	height:23px;
	text-indent:-999em;
	top:-100%;
	right:-100%;
	cursor:pointer;
	background:url(../img/icon.png) no-repeat right -573px #fff;
}
.details_item .fileitem:hover{
	border-color:#f30;
	text-decoration:none;
}
.details_item .fileitem:hover .J_break_auto_file{
	top:0;
	right:0;
}

/* editlink */
.editlink{
	background:url(../img/icon.png) no-repeat 0 -615px;
	padding-left:14px;
	vertical-align:middle;
}
.editlink:hover{
	background-position:0 -649px;
}

#J_otheritem{
	vertical-align:middle;
	height: 21px;
	border: 1px solid #CCC;
	background: white;
	line-height: 30px;
	margin-top: 6px;
	position:relative;
	top:-3px;
}

/* quick_login*/
.quick_login .item{
	margin-bottom:8px;
}
.quick_login .txt{
	border:1px solid #ccc;
	background-color:#fff;
	height:23px;
	line-height:23px;
	width:160px;
}

/* form */
.form .text{
	background-color:#fff;
    border:1px solid #ccc;
    height:25px;
    line-height:25px;
    padding-left:2px;
	border-radius:2px;
}
.form select{
	vertical-align:middle;
	height: 21px;
	border: 1px solid #CCC;
	background: white;
	line-height: 30px;
	margin-top: 6px;
	position:relative;
	top:-3px;
	*top:0;
}
.form .checkbox_item{
	display:inline-block;
	margin-top:5px;
	*margin-top:9px;
	_margin-top:8px;
	width:136px;
}
.form .checkbox{
	vertical-align:middle;
	position:relative;
	top:0;
	[;
		vertical-align:bottom;
		top:-3px;
	];
	top:-1px \9\0;
	*top:-2px;
	margin-right:5px;
	*margin-right:2px;
}
.form,
.form .t{
	display:inline-block;
	*display:inline;
	*zoom:1;
}
.form .item{
	margin-bottom:5px;
	position:relative;
}
.form .field{
	display:block;
	text-align:right;
	line-height:1em;
	position:relative;
	top:8px;
	padding-right:5px;
}
.form .f{
	position:relative;
	right:-100%;
	top:-1em;
	width:1px;
	_width:0;
	margin-right:-9999999%;
}
.form .t{
	color:#888;
}
.form .nowrap,
.form .t{
	white-space:nowrap;
	display:block;
}
.form .tarea{
	overflow-x:hidden;
	overflow-y:auto;
	border:1px solid #ccc;
	background-color:#fff;
	margin-top:7px;
}
.form .text:focus,
.form .focus{
	border-color:#1C6E98;
	box-shadow:0 0 2px #1C6E98;
}
.form .err{
	border-color:#E50000;
	box-shadow:0 0 2px #E50000;
}
.add_item_form .tarea{
	width:348px;
	height:120px;
}
.add_item_form .text{
	width:348px;
}
.add_item_form .gray_btn span{
	width:48px;
}

/* add_box  */
.add_box .left{
	width:64%;
}
.add_box .right{
	width:35.99%;
}
.add_box .right .explain{
	line-height:21px;
	margin-bottom:8px;
	color:#888;
	padding-left:8px;
}

/* operate */
.operate a{
	padding:0 3px;
}

/* J_add_new_member */
#J_add_new_member{
	width:100%;
	display:block;
	height: 21px;
	border: 1px solid #CCC;
	background: white;
	line-height: 30px;
	margin-bottom:8px;
}
#J_add_new_member_btn,#J_add_new_member_btn span{
	display:block;
}

#J_static_dir .cobra_system_dir_name a{
	cursor:default;
}
#J_static_dir .cobra_system_dir_name a:hover{
	text-decoration:none;
}

.loading{
	background:url(../img/loading.gif) no-repeat center center;
}
.fileslist .loading{
	height:300px;
	width:100%;
}
.fileslist .loading .cobra_system_dir_root{
	display:none;
}


/* batch_psd */
#J_batch_psd_box{
	position:absolute;
	border:1px solid #888;
	width:96.6%;
	left:0.8%;
	top:57px;
	border-radius:2px;
	z-index:9999;
	background:#fff;
	overflow:hidden;
	padding:8px 8px 0;
	display:none;
}
#J_batch_msg{
	border-top:2px solid #3b5998;
	margin-left:-8px;
	margin-top:8px;
	margin-right:-8px;
	overflow:auto;
	height:236px;
}
#J_batch_psd_prefix{
	border:1px solid #ccc;
	padding-left:2px;
	height:21px;
	line-height:21px;
	width:180px;
}
#J_batch_psd_box .already{
	color:#f30;
	padding:0 3px;
}
#J_batch_psd_box .psd_dir{
	font-family:"宋体";
	font-weight:700;
	color:#3b5998;
}
#J_batch_psd_box .field,
#J_batch_psd_prefix,
#J_batch_psd_box .btn{
	vertical-align:middle;
}
#J_batch_psd_box .option p{
	padding-top:5px;
}
#J_batch_tips{
	padding-left:32px;
	background:url(../img/handling.gif) no-repeat 0 center;
	color:#57a000;
	margin-left:5px;
	display:none;
}
#J_batch_msg p{
	padding-left:8px;
	margin-bottom:8px;
	font-family"宋体";
}
#J_batch_msg .b_tips1{ color:#aaa; }
#J_batch_msg .b_tips2{ color:red; }
#J_batch_msg .b_tips3{ color:#f50; }
#J_batch_msg .b_tips4{ color:red; }
#J_batch_msg .b_tips5{ color:green; }
#J_batch_msg .b_tips6{ color:#000; }

.coverframe{
	background:#fff;
	border:none 0;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:30px;
	z-index:-1;
	overflow: hidden;
}

/* message */
#J_message{
	position:absolute;
	bottom:25px;
	left:50%;
	z-index:999999;
}
#J_message .message_inner{
	left:-50%;
	border-style:solid;
	border-width:1px;
	border-bottom:none 0;
	padding:6px 24px 6px 12px;
	line-height:21px;
	position:relative;
	border-radius:3px 3px 0 0;
	word-break:break-all;
	word-wrap:break-word;
	opacity:0;
	filter:alphaa(opacity=0);
}
#J_message .close_message{
	position:absolute;
	right:-8px;
	top:-6px;
	width:32px;
	height:32px;
	text-align:center;
	line-height:32px;
	font-family:arial;
	color:#DD3C10;
	cursor:pointer;
}
.normal_message{
	border-color:#D4DAE8;
	background-color:#ECEFF6;
	box-shadow:0 -1px 7px #AAA;
}
.error_message{
	border-color:#DD3C10;
	background-color:#FFEBE8;
	box-shadow:0 -1px 7px #F30;
}
.warning_message{
	border-color:#E2C822;
	background-color:#FFF9D7;
	box-shadow:0 -1px 7px #FFF710;
}
.right_message{
	border-color:#B2E7C7;
	background-color:#E6FFE9;
	box-shadow:0 -1px 7px #33F35A;
}
