@import "dirs.css?v=1";
body,p,dl,dd,form,textarea,h1,h2,h3,h4,fieldset,input{
    margin:0;
}

input,button,td,th,fieldset{
    padding:0;
}

/* guides and gird */
.system_cobra_move_body{
	_overflow-x:hidden;
}

.system_cobra_move_body body{
	padding-top:16px;
	padding-left:16px;
	margin-right:16px;
	_margin-right:0;
	_overflow-x:auto;
	_width:100%;
}
/* guides and gird */

.system_cobra_hide_window,
.system_cobra_hide_window body{
	height:100%;
	overflow:hidden;
}
#J_system_control_panel ul,
#J_system_control_panel ol{
    list-style-type:none;
    list-style-position:outside;
	padding:0;
	margin:0;
}
#J_system_control_panel a{
    text-decoration:none;
    color:#3B5998;
}
#J_system_control_panel a:hover{
	text-decoration:underline;
	/*background-color:#3B5998;*/
}
a img,fieldset{
    border:none;
}
fieldset legend{
	display:none
}
a,input,button,textarea{
	outline:none;
}
#J_system_control_panel em{
    font-style:normal
}
.arrow{
	display:inline-block;
	width:0;
	height:0;
	overflow:hidden;
	border-style:dashed;
	border-color:transparent;
	vertical-align:middle;
}
.clear{
    clear:both;
}
.clearfix:after{
    content:'';
    height:0;
    clear:both;
    display:block;
    overflow:hidden;
}
.clearfix{
	*zoom:1;
}
.system_control_panel{
	position:relative;
	_width:260px;
	overflow:hidden;
}
#J_system_control_panel{
	font-size:12px;
	background:#FFF;
	width:260px;
	border-left:2px solid #3b5998;
	top:0;
	right:-262px;
	position:fixed;
	zoom:1;
	z-index:99999;
	_position:absolute;
}
#J_system_reload_btn{
	background-image:url(../img/power_btn.png);
	background-repeat:no-repeat;
	height:24px;
	overflow:hidden;
	width:126px;
	margin-top:3px;
	line-height:24px;
	cursor:pointer;
}
#J_system_control_panel .cobra_system_on{
	background-position:right 0;
}
#J_system_control_panel .cobra_system_off{
	background-position:right -24px;
}
#J_system_control_panel dt{
	border-style:solid none;
	border-width:1px 0;
	border-color:#ccc;
	background:#fff;
	position:relative;
	overflow:hidden;
	z-index:9;
	padding:0 5px;
	height:29px;
	line-height:29px;
	margin-top:-1px;
	background:#eaeae9;
	background:-webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(234,234,233)),
		color-stop(1, rgb(255,255,255))
	);
	background:-moz-linear-gradient(
		center bottom,
		rgb(234,234,233) 0%,
		rgb(255,255,255) 100%
	);
}
#J_control_panel_files_list{
	overflow:auto;
	position:relative;
	z-index:8;
	padding-left:8px;
	zoom:1;
}
#J_system_control_panel .loading{
	background:url(../img/loading.gif) no-repeat center center;
}
#J_system_control_panel .system_back_link{
	background-image:url(../img/icon.png);
	background-repeat:no-repeat;
	padding-left:18px;
	margin-right:8px;
	margin-left:5px;
	display:inline-block;
	height:29px;
	vertical-align:middle;
}
#J_system_control_panel .system_project_list{
	background-position:0 -460px;
}
#J_system_control_panel .system_project_details{
	background-position:0 -423px;
}
#J_system_control_lock{
	position:absolute;
	width:72px;
	height:24px;
	cursor:pointer;
	right:30px;
	top:2px;
	background-image:url(../img/icon.png);
	background-repeat:no-repeat;
}
#J_system_control_panel .cobra_system_lock{
	background-position:right -503px;
}
#J_system_control_panel .cobra_system_unlock{
	background-position:right -540px;
}
#J_system_control_arrow{
	border-width:13px;
	border-style:dashed solid dashed dashed;
	border-right-color:#3b5998;
	position:absolute;
	left:-26px;
	top:50%;
	margin-top:-13px;
	cursor:pointer;
}
#system_cobra_search_page{
	height:21px;
	line-height:21px;
	border:1px solid #aaa;
	background-color:#fff;
	position:absolute;
	right:92px;
	top:3px;
	width:100px;
}
.system_cobra_search_count{
	position:absolute;
	right:0;
	width:86px;
	top:0;
}
#J_system_cobra_count_number{
	color:#f30;
}
#J_system_cobra_add_refile_btn{
	position:absolute;
	width:30px;
	height:24px;
	background-image:url(../img/icon.png);
	background-repeat:no-repeat;
	background-color:#fff;
	text-indent:-999em;
	overflow:hidden;
	top:17px;
	left:-22px;
	z-index:999;
	cursor:pointer;
	display:none;
}
.system_cobra_refile_link{
	background-position:14px -575px;
}
#J_control_panel_files_list .cobra_system_dir_name .cobra_system_merge_link{
	position:absolute;
	top:14px;
	color:#57A000;
	font-weight:400;
}

/*******************************************rulers|guides|gird*****************/

/* ruler start */
.system_cobra_rulers{
	overflow:hidden;
	position:fixed;
	top:0;
	left:0;
	z-index:99990;
	cursor:default;
	_position:absolute;
}
.system_cobra_rulers_h{
	width:100%;
	height:16px;
	background:url(../img/ruler_h.png) repeat-x 0 0;
}
.system_cobra_rulers_v{
	width:16px;
	background:url(../img/ruler_v.png) repeat-y 0 0;
}
.system_cobra_rulers_point{
	width:16px;
	height:16px;
	background:url(../img/rulers_point.png) no-repeat 0 0;
	z-index:9;
	position:relative;
}
.system_cobra_guides_line{
	position:absolute;
	font-size:0;
	z-index:99989;
}
.system_cobra_guides_line div{
	overflow:hidden;
	background-image:url(../img/guides_line.gif);
	background-position:0 0;
	background-color:#2AD4FF;
}
.system_cobra_guides_line span{
	background-color:#3b5998;
	color:#fff;
	position:absolute;
	font-size:10px;
	font-family:arial;
	height:15px;
	line-height:16px;
	padding:0 1px;
}
.system_cobra_guides_line_h{
	width:100%;
	left:100%;
	height:1px;
	padding:1px 0;
	cursor:row-resize;
}
.system_cobra_guides_line_h div{
	height:1px;
	background-repeat:repeat-x;
}
.system_cobra_guides_line_h span{
	left:18px;
	border-radius:0 0 3px 3px;
}
.system_cobra_guides_line_v{
	width:1px;
	top:0;
	padding:0 1px;
	cursor:col-resize;
	height:100%;
}
.system_cobra_guides_line_v div{
	background-repeat:repeat-y;
	height:100%;
	width:1px;
}
.system_cobra_guides_line_v span{
	top:18px;
	border-radius:0 3px 3px 0;
}

.system_cobra_rulers span{
	font-size:10px;
	font-family:arial;
	color:#f30;
	position:absolute;
	cursor:default;
}
.system_cobra_rulers_v span{
	width:8px;
	padding:0 7px 0 1px;
	word-break: break-all;
	line-height: 12px;
	border-top:1px dotted #000;
	padding-top:2px;
}
.system_cobra_rulers_h span{
	border-left:1px dotted #000;
	padding-left:2px;
	height:16px;
	line-height:12px;
}
#J_system_cobra_create_guides_window{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:99999;
	display:none;
}
#J_system_cobra_create_guides_window .system_cobra_dialog_cover{
	width:100%;
	height:100%;
	background:#000;
	opacity:0.6;
	filter:alpha(opacity=60);
}
#system_cobra_create_guides_form{
	width:120px;
	height:140px;
	position:fixed;
	top:50%;
	left:50%;
	padding:12px;
	margin-top:-70px;
	margin-left:-60px;
	border:2px solid #333;
	background:#fff;
	border-radius:3px;
	font-size:12px;
	_position:absolute;
	_top:100px;
}
#system_cobra_create_guides_form fieldset{
	border:1px solid #ccc;
	padding-left:8px;
	padding-bottom:8px;
}
#system_cobra_create_guides_form legend{
	display:block;
}
#system_cobra_create_guides_form p{
	margin-top:5px;
}
#system_cobra_create_guides_form input,
#system_cobra_create_guides_form span{
	vertical-align:middle;
}
#system_cobra_create_guides_form span{
	margin-left:3px;
}
#J_system_cobra_sure_cg,
#J_system_cobra_cancle_cg{
	height:21px;
	line-height:21px;
	padding:0 5px;
	border:none 0;
	background:#3b5998;
	color:#fff;
	margin:0 3px;
}
#J_system_cobra_gvalue{
	width:48px;
	height:19px;
	line-height:19px;
	border:1px solid #777;
	text-align:center;
	background:#fff;
}
#J_system_cobra_guides_box{
	position:absolute;
	top:0;
	width:100%;
	left:-100%;
}
/* ruler end */

/* gird start */
#J_system_cobra_gird{
	width:100%;
	background:url(../img/grid.png) repeat 0 0;
	position:absolute;
	top:0;
	left:0;
}
/* gird end */

/* moudle box style start */
.cobra_system_moudle_list{
	margin:0;
	padding:0;
	list-style:none;
	background-color:#fff;
	position:relative;
	zoom:1;
}
.cobra_system_moudle_item{
	position:relative;
	display:block;
}
.cobra_system_moudle_title{
	background-color:#ddd;
	height:23px;
	padding-left:12px;
	line-height:24px;
	border-bottom:1px solid #AAA;
	font-size:13px;
	font-family:"宋体";
	position:relative;
	zoom:1;
}
.cobra_system_moudle_html{
	padding-top:10px;
	padding-bottom:10px;
	border-top:1px solid #EEE;
	border-bottom:1px solid #AAA;
}
.cobra_system_moudle_ph10{
	padding-left:10px;
	padding-right:10px;
}
.cobra_system_moudle_docs .arrow{
	border-top-style:solid;
	border-top-color:#57A000;
	border-width:7px;
	vertical-align:top;
	margin-top:-1px;
	cursor:pointer;
	position:relative;
}
.cobra_system_moudle_docs{
	text-align:center;
	border-top:1px solid #EEE;
	position:relative;
	z-index:1;
}
.cobra_system_moudle_docs_list{
	margin:0;
	padding:0 0 0 30px;
	text-align:left;
	background-color:#fff;
	border-bottom:1px solid #57A000;
	margin-top:-7px;
	padding-bottom:9px;
	zoom:1;
	list-style-type:decimal;
}
.cobra_system_moudle_docs_item{
	line-height:23px;
	font-size:12px;
	font-family:"宋体";
}
.cobra_system_hide_docs .cobra_system_moudle_docs_list{
	display:none;
}
.cobra_system_hide_docs .arrow{
	border-top-color:#999;
	margin-top:-16px;
	filter:FlipV;
	-webkit-transform:scaleY(-1);
	-moz-transform:scaleY(-1);
	-o-transform:scaleY(-1);
	-khtml-transform:scaleY(-1);
	transform:scaleY(-1);
}
.cobra_system_moudle_author{
	border-left:1px solid #888;
	padding-right:0.5em;
	padding-left:0.5em;
	display:inline-block;
	height:23px;
	position:absolute;
	right:0;
	top:0;
}
/* moudle box style end */
