##-*-coding:utf-8-*-
<%inherit file="base.html" />

<%def name="title()">
	新建项目
</%def>

<!-- outfile -->
<%def name="outfile()"></%def>


<!-- main -->
<%def name="main()">

	<%
		from cobra.apps.system.config import PROJECT_STATE,WEIGHT
		from cobra.apps.system import models as sm
	%>

	<div class="box">
		<div class="bt">
			<span class="tit">开始新项目</span>
		</div>
		<div class="bc">
			%if err_msg:
			<div class="message err_msg">
				${err_msg}
			</div>
			%endif
			<form action="" method="post">
				<p>项目名-英文:<input type="text" name="name_en" /></p>
				<p>项目名-中文:<input type="text" name="name_zh" /></p>
				<p>项目状态:
				<select name="state">
					%for k,v in PROJECT_STATE.items():
					<option value="${k}">${v}</option>
					%endfor
				</select>
				</p>
				<p>开始时间:<input type="text" name="starttime" /></p>
				<p>项目周期:<input type="text" name="period" /></p>
				<p>成员:
					%for item in allUsers:
					<label><input name="member" type="checkbox" value="${item.id}" />${item.department} - ${item.name_zh}</label>
					%endfor
				</p>
				<p>负责人:
					<select name="manager">
						<option value="0">请选择</option>
						%for item in allUsers:
						<option value="${item.id}">${item.department} - ${item.name_zh}</option>
						%endfor
					</select>
				</p>
				<p>优先级:
				<select name="weight">
					%for k,v in WEIGHT.items():
					<option value="${k}">${v}</option>
					%endfor
				</select>
				</p>
				<p>项目介绍:<textarea name="summary"></textarea></p>
				<p><input type="submit" value="submit" /></p>
			</form>
		</div>
	</div>
</%def>

<!-- side -->
<%def name="side()">

</%def>

<%def name="crumbs()">
	<em>&gt;</em>
	<a href="/system/v/project">项目</a>
	<em>&gt;</em>
	<span>新建项目</span>
</%def>
