##-*-coding:utf-8-*-
<%inherit file="base.html" />

<%def name="title()">
	新建任务
</%def>

<!-- outfile -->
<%def name="outfile()"></%def>


<!-- main -->
<%def name="main()">
	<%
		from cobra.apps.system.config import WEIGHT
	%>
	<div class="box">
		<div class="bt">
			<span class="tit">新建任务</span>
		</div>

		<div class="bc">
			%if err_msg:
			<div class="message err_msg">
				${err_msg}
			</div>
			%endif
			<div class="hor_box add_box">
				<div class="hor_item left">
					<form action="" method="post" id="J_add_task">
						<div class="form add_item_form">
							<div class="item">
								<label class="field">名称:</label>
								<div class="f">
									<input type="text" name="name" class="text" id="J_task_name" />
									<div class="t">任务名称</div>
								</div>
							</div>
							<div class="item">
								<label class="field">优先级:</label>
								<div class="f">
									<%
										keys = WEIGHT.keys()
										keys.sort()
									%>
									<select name="weight">
										%for k in keys:
										<option value="${k}">${WEIGHT[k]}</option>
										%endfor
									</select>
								</div>
							</div>
							<div class="item">
								<label class="field">相关项目:</label>
								<div class="f">
									<select name="pid">
										<option value="0">无</option>
										%for item in allProjects:
										<option value="${item.id}">${item.name_zh}</option>
										%endfor
									</select>
								</div>
							</div>
							<div class="item">
								<label class="field">任务描述:</label>
								<div class="f">
									<textarea name="desc" class="tarea" id="J_task_desc"></textarea>
									<div class="t">
										关于任务的详细描述
									</div>
								</div>
							</div>
							<div class="item">
								<div class="f nowrap">
									<a href="javascript:;" class="btn gray_btn">
										<span>提交</span>
										<input type="submit" value="提交" />
									</a>
								</div>
							</div>
						</div>
					</form>
					<script type="text/javascript">
						(function(){
							 __$__.form = $.form("J_add_task",[{
								name : "name",
								type : "blur",
								min_length : 3,
								message : "任务名称为必填"
							},{
								name : "desc",
								type : "keyup",
								min_length : 5,
								message : "请输入任务描述"
							}],{
								success : function(msg){
									var oTips = $.next(this);
									this.className = this.className.replace(/err/g,"");
									oTips.innerHTML = msg;
									oTips.style.color = "green";
								},
								error : function(msg){
									var oTips = $.next(this);
									oTips.innerHTML = msg;
									this.className = this.className.replace(/error/g,"") + " err";
									oTips.style.color = "red";
								}
							});
						}());
					</script>
				</div>
				<div class="hor_item right">
					<p class="explain">
						任务是一类具体的工作的统称，如修复某个bug、编写某个模块等，可以是独立于项目之外的，可以多人参与.
					</p>
					<p class="explain">
						选择正确的优先级，保证比较紧急的任务能够被优先处理.
					</p>
					<p class="explain">
						任务创建者应尽可能的描述清楚任务的具体需求，避免沟通成本的增加.
					</p>
				</div>
			</div>
		</div>
	</div>
</%def>

<!-- side -->
<%def name="side()">

</%def>

<%def name="crumbs()">
	<em>&gt;</em>
	<a href="/v/task/">任务</a>
	<em>&gt;</em>
	<span>新建任务</span>
</%def>

<%def name="outer()">

</%def>
