##-*-coding:utf-8-*-
<%inherit file="base.html" />

<%def name="title()">
	新建任务
</%def>

<!-- outfile -->
<%def name="outfile()"></%def>


<!-- main -->
<%def name="main()">
	<%
		from cobra.apps.system.config import WEIGHT
	%>
	<div class="box">
		<div class="bt">
			<span class="tit">新建任务</span>
		</div>

		<div class="bc">
			%if err_msg:
			<div class="message err_msg">
				${err_msg}
			</div>
			%endif
			<div class="hor_box add_box">
				<div class="hor_item left">
					<form action="" method="post">
						<div class="form add_project_form">
							<div class="item">
								<label class="field">名称:</label>
								<div class="f">
									<input type="text" name="name" class="text" />
								</div>
							</div>
							<div class="item">
								<label class="field">优先级:</label>
								<div class="f">
									<%
										keys = WEIGHT.keys()
										keys.sort()
									%>
									<select name="weight">
										%for k in keys:
										<option value="${k}">${WEIGHT[k]}</option>
										%endfor
									</select>
								</div>
							</div>
							<div class="item">
								<label class="field">相关项目:</label>
								<div class="f">
									<select name="pid">
										<option value="0">无</option>
										%for item in allProjects:
										<option value="${item.id}">${item.name_zh}</option>
										%endfor
									</select>
								</div>
							</div>
							<div class="item">
								<label class="field">任务描述:</label>
								<div class="f">
									<textarea name="desc" class="tarea"></textarea>
								</div>
							</div>
							<div class="item">
								<div class="f nowrap">
									<a href="javascript:;" class="btn gray_btn">
										<span>提交</span>
										<input type="submit" value="提交" />
									</a>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="hor_item right">
					right
				</div>
			</div>
		</div>
	</div>
</%def>

<!-- side -->
<%def name="side()">

</%def>

<%def name="crumbs()">
	<em>&gt;</em>
	<a href="/v/task/">任务</a>
	<em>&gt;</em>
	<span>新建任务</span>
</%def>
