##-*-coding:utf-8-*-
<%inherit file="base.html" />

<%def name="title()">
	新建任务
</%def>

<!-- outfile -->
<%def name="outfile()"></%def>


<!-- main -->
<%def name="main()">
	<%
		from cobra.apps.system.config import WEIGHT
	%>
	<div class="box">
		<div class="bt">
			<span class="tit">新建任务</span>
		</div>
		<div class="bc">
			<form action="" method="post">
				<p>名称:<input type="text" name="name" /></p>
				<p>优先级:
					<select name="weight">
						%for k,v in WEIGHT.items():
						<option value="${k}">${v}</option>
						%endfor
					</select>
				</p>
				<p>项目：
					<select name="pid">
						<option value="0">请选择</option>
						%for item in allProjects:
						<option value="${item.id}">${item.name_zh}</option>
						%endfor
					</select>
				</p>
				<p>描述:<textarea name="desc"></textarea></p>
				<p><input type="submit" value="submit" /></p>
			</form>
		</div>
	</div>
</%def>

<!-- side -->
<%def name="side()">

</%def>

<%def name="crumbs()">
	<em>&gt;</em>
	<a href="/system/v/project">项目</a>
	<em>&gt;</em>
	<span>新建项目</span>
</%def>
<!--
<form action="" method="post">
	<p>usm:<input type="text" name="usm" /></p>
	<p>pwd:<input type="password" name="pwd" /></p>
	<p>name_zh:<input type="text" name="name_zh" /></p>
	<p>email:<input type="text" name="email" /></p>
	<p>group:<input type="text" name="group" /></p>
	<p>upic:<input type="file" name="upic" /></p>
	<p><input type="submit" value="submit" /></p>
</form>
-->
