##-*-coding:utf-8-*-
<%inherit file="base.html" />

<%def name="title()">
	添加成员
</%def>

<!-- outfile -->
<%def name="outfile()"></%def>


<!-- main -->
<%def name="main()">
	<%
		from cobra.apps.system.config import DEPARTMENT
	%>
	<div class="box">
		<div class="bt">
			<span class="tit">添加新成员</span>
		</div>
		<div class="bc">
			<form action="" method="post">
				<p>用户名:<input type="text" name="usm" /></p>
				<p>姓名:<input type="text" name="name_zh" /></p>
				<p>密码:<input type="password" name="pwd" /></p>
				<p>确认密码:<input type="password" name="pwd" /></p>
				<p>Email:<input type="text" name="email" /></p>
				<p>用户组:
				<select name="group">
					%for item in allGroups:
						<option value="${item.id}">${item.name_zh}</option>
					%endfor
				</select>
				</p>
				<p>部门:
				<select name="department">
					%for k,v in DEPARTMENT.items():
						<option value="${k}">${v}</option>
					%endfor
				</select>
				<p><input type="submit" value="submit" /></p>
			</form>
		</div>
	</div>
</%def>

<!-- side -->
<%def name="side()">

</%def>

<%def name="crumbs()">
	<em>&gt;</em>
	<a href="/v/user/">成员</a>
	<em>&gt;</em>
	<span>添加成员</span>
</%def>
