##-*-coding:utf-8-*-
<%inherit file="base.html" />

<%def name="title()">
	${obj.name}
</%def>

<!-- outfile -->
<%def name="outfile()"></%def>

<!-- main -->
<%def name="main()">
	<%
		from cobra.apps.system import models as sm
		from cobra.apps.system.config import TASK_STATE,WEIGHT,PROJECT_STATE
		author = sm.User.objects.get(id = obj.author)
		if obj.manager:
			manager = sm.User.objects.get(id = obj.manager)
	%>

	<div class="box">
		<div class="bt">
			<span class="tit">【任务】${obj.name}</span>
		</div>
		<div class="bc">
			<dl class="details_item">
				<dt class="item_name">名称:</dt>
				<dt class="item_cont">${obj.name}</dt>
				<dt class="item_name">状态:</dt>
				<dd class="item_cont">
					<i class="icon_state ${obj.state}">${TASK_STATE[obj.state]}</i>
					<span class="stat_text">${TASK_STATE[obj.state]}</span>
				</dd>
				<dt class="item_name">创建人:</dt>
				<dd class="item_cont"><a href="/v/user/${author.id}/">${author}</a></dd>
				<dt class="item_name">相关项目:</dt>
				<dd class="item_cont"><a href="/v/project/${obj.pid}">${sm.Project.objects.get(id=obj.pid)}</a></dd>
				<dt class="item_name">创建时间:</dt>
				<dd class="item_cont">${obj.ctime}</dd>
				%if obj.manager:
					<dt class="item_name">负责人:</dt>
					<dd class="item_cont"><a href="/v/user/${manager.id}/">${manager}</a></dd>
				%endif
				<dt class="item_name">优先级:</dt>
				<dd class="item_cont">${WEIGHT[obj.weight]}</dd>
				<dt class="item_name">进度:</dt>
				<dd class="item_cont">
				<div class="degreebar">
					<div class="degree" style="width:${obj.degree}%">0%</div>
					<span class="degree_number">${obj.degree}%</span>
				</div>
				</dd>
				<dt class="item_name">描述:</dt>
				<dd class="item_cont">${obj.desc}</dd>
			</dl>
		</div>
	</div>
</%def>

<!-- side -->
<%def name="side()">
	<%
		from cobra.apps.system import models as sm
		from cobra.apps.system.config import TASK_STATE,WEIGHT
	%>
	<div class="box">
		<div class="bt">
			<span class="tit">参与成员</span>
		</div>
		<div class="bc">
			%if len(related_users):
			<ul class="related_users">
				%for item in related_users:
				<%
					useritem = sm.User.objects.get(id = item.uid)
				%>
				<li class="user_item">
					<div class="hor_box media">
						<div class="hor_item pic">
							<a href="/v/user/${useritem}/">
								<img src="/s/media/user_pic/${useritem.upic}" alt="${useritem.name_zh}" width="32" height="32">
							</a>
						</div>
						<div class="hor_item txt">
							<p class="item">
								姓名:<a href="/v/user/${useritem.id}/">${useritem.name_zh}</a>
							</p>
							<p class="item">部门:${useritem.department}</p>
						</div>
					</div>
				</li>
				%endfor
			</ul>
			%else:
			<div class="emptybox">
				尚未分派
			</div>
			%endif
		</div>
	</div>
	<div class="box">
		<div class="bt">
			<span class="tit">添加成员</span>
		</div>
		<div class="bc">
			<select>
				<option>成员1</option>
				<option>成员2</option>
				<option>成员3</option>
				<option>成员4</option>
				<option>成员5</option>
			</select>
			<input type="submit" value="添加" />
		</div>
	</div>
	<div class="box">
		<div class="bt">
			<span class="tit">新建任务</span>
		</div>
		<div class="bc">
			<div class="btnbox newitem" style="text-align:center">
				<a class="btn gray_btn" href="/add/task/">
					<span>新任务</span>
				</a>
			</div>
		</div>
	</div>
</%def>

<%def name="crumbs()">
	<em>&gt;</em>
	<a href="/v/task">任务</a>
	<em>&gt;</em>
	<span>#500</span>
</%def>
