##-*-coding:utf-8-*-
<%inherit file="base.html" />

<%def name="title()">
	项目详细
</%def>

<!-- outfile -->
<%def name="outfile()"></%def>

<!-- main -->
<%def name="main()">
	<%
		from cobra.apps.system import models as sm
		from cobra.apps.system.config import TASK_STATE,WEIGHT
	%>

	<div class="box">
		<div class="bt">
			<span class="tit">${obj.name_zh} 的详情</span>
		</div>
		<div class="bc">
			<div class="hor_box details">
				<div class="hor_item dleft">
					
				</div>
				<div class="hor_item dright">
					${dirHtml}
				</div>
			</div>
		</div>
	</div>
	<div class="box">
		<div class="bt">
			<span class="tit">${obj.name_zh} 相关的任务</span>
			<span class="icon_guide">
				${icon_guide_html}
			</span>
		</div>
		<div class="bc">
			%if len(related_tasks):
			<table class="table">
				<colgroup>
					<col width="4%"/>
					<col width="36%"/>
					<col width="10%"/>
					<col width="20%"/>
					<col width="10%"/>
					<col width="20%"/>
				</colgroup>
				<thead>
					<tr>
						<th>状态</th>
						<th>名称</th>
						<th>编号</th>
						<th>进度</th>
						<th>优先级</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					%for item in related_tasks:
					<tr>
						<td><i class="icon_state ${item.state}" title="${TASK_STATE[item.state]}">&nbsp;</i></td>
						<td class="aleft ${item.weight}"><a href="/system/v/task/${item.id}/">${item.name}</a></td>
						<td><a href="/system/v/task/${item.id}/">#${item.id}</a></td>
						<td>
							<div class="degreebar">
								<div class="degree" style="width:${item.degree}%">${item.degree}%</div>
								<span class="degree_number">${item.degree}%</span>
							</div>
						</td>
						<td>${WEIGHT[item.weight]}</td>
						<td><a href="#">编辑</a></td>
					</tr>
					%endfor
				</tbody>
			</table>
			%else:
			<div class="emptybox">暂无数据</div>
			%endif
		</div>
	</div>
</%def>

<!-- side -->
<%def name="side()">
	<%
		from cobra.apps.system import models as sm
		from cobra.apps.system.config import TASK_STATE,WEIGHT
	%>

	<div class="box">
		<div class="bt">
			<span class="tit">参与成员</span>
		</div>
		<div class="bc">
			<ul class="related_users">
				%for item in related_users:
				<%
					useritem = sm.User.objects.get(id = item.uid)
				%>
				<li class="user_item">
					<div class="hor_box media">
						<div class="hor_item pic">
							<a href="/system/v/user/${useritem.id}/">
								<img src="/s/media/user_pic/${useritem.upic}" alt="${useritem.name_zh}" width="32" height="32">
							</a>
						</div>
						<div class="hor_item txt">
							<p class="item">
								姓名:<a href="/system/v/user/${useritem.id}/">${useritem.name_zh}</a>
							</p>
							<p class="item">部门:${useritem.department}</p>
						</div>
					</div>
				</li>
				%endfor
			</ul>
		</div>
	</div>
	<div class="box">
		<div class="bt">
			<span class="tit">添加成员</span>
		</div>
		<div class="bc">
			<select>
				<option>成员1</option>
				<option>成员2</option>
				<option>成员3</option>
				<option>成员4</option>
				<option>成员5</option>
			</select>
			<input type="submit" value="添加" />
		</div>
	</div>
	<div class="box">
		<div class="bt">
			<span class="tit">新建项目</span>
		</div>
		<div class="bc">
			<div class="btnbox newitem" style="text-align:center">
				<a class="btn gray_btn" href="/system/add/project/">
					<span>新项目</span>
				</a>
			</div>
		</div>
	</div>
</%def>

<%def name="crumbs()">
	<em>&gt;</em>
	<a href="/system/v/project">项目</a>
	<em>&gt;</em>
	<span>${obj.name_zh}</span>
</%def>
