##-*-coding:utf-8-*-
<%inherit file="base.html" />

<%def name="title()">
	任务列表
</%def>

<!-- outfile -->
<%def name="outfile()"></%def>

<!-- main -->
<%def name="main()">
	<div class="box">
		<div class="bt">
			<span class="tit">任务信息</span>
		</div>
		<div class="bc">
			task info
		</div>
	</div>
</%def>

<!-- side -->
<%def name="side()">
	<%
		from cobra.apps.system import models as sm
		from cobra.apps.system.config import TASK_STATE,WEIGHT
	%>
	<div class="box">
		<div class="bt">
			<span class="tit">参与成员</span>
		</div>
		<div class="bc">
			%if len(related_users):
			<ul class="related_users">
				%for item in related_users:
				<%
					useritem = sm.User.objects.get(id = item.uid)
				%>
				<li class="user_item">
					<div class="hor_box media">
						<div class="hor_item pic">
							<a href="/system/v/user/${useritem}/">
								<img src="/s/media/user_pic/${useritem.upic}" alt="${useritem.name_zh}" width="32" height="32">
							</a>
						</div>
						<div class="hor_item txt">
							<p class="item">
								姓名:<a href="/system/v/user/${useritem.id}/">${useritem.name_zh}</a>
							</p>
							<p class="item">部门:${useritem.department}</p>
						</div>
					</div>
				</li>
				%endfor
			</ul>
			%else:
			<div class="emptybox">
				尚未分派
			</div>
			%endif
		</div>
	</div>
	<div class="box">
		<div class="bt">
			<span class="tit">添加成员</span>
		</div>
		<div class="bc">
			<select>
				<option>成员1</option>
				<option>成员2</option>
				<option>成员3</option>
				<option>成员4</option>
				<option>成员5</option>
			</select>
			<input type="submit" value="添加" />
		</div>
	</div>
	<div class="box">
		<div class="bt">
			<span class="tit">新建任务</span>
		</div>
		<div class="bc">
			<div class="btnbox newitem" style="text-align:center">
				<a class="btn gray_btn" href="/system/add/project/">
					<span>新项目</span>
				</a>
			</div>
		</div>
	</div>
</%def>

<%def name="crumbs()">
	<em>&gt;</em>
	<a href="/system/v/task">任务</a>
	<em>&gt;</em>
	<span>#500</span>
</%def>
