##-*-coding:utf-8-*-
<%inherit file="base.html" />

<%def name="title()">
	项目详细
</%def>

<!-- outfile -->
<%def name="outfile()"></%def>

<!-- main -->
<%def name="main()">
	<%
		from cobra.apps.system import models as sm
		from cobra.config import SERVER_INFO,P_PROJECT_PATH,P_STATIC_PATH
		from cobra.apps.system.config import TASK_STATE,WEIGHT,PROJECT_STATE
		autofile = eval(obj.refile)
		author = sm.User.objects.get(id = obj.author)
		manager = sm.User.objects.get(id = obj.manager)
	%>

	<div class="box">
		<div class="bt">
			<span class="tit">【项目】${obj.name_zh}</span>
		</div>
		<div class="bc">
			<div class="hor_box details">
				<div class="hor_item hor_box dleft">
					<div class="hor_item fileslist">
						<h4 class="dirname">
							模板文件
							<span class="absolute_path">${SERVER_INFO["ip"]}${P_PROJECT_PATH}/${obj.name_en} </span>
						</h4>
						<div class="list">
							${dirHtml}
						</div>
					</div>
					<div class="hor_item fileslist">
						<h4 class="dirname">
							静态文件
							<span class="absolute_path">${SERVER_INFO["ip"]}${P_STATIC_PATH}/${obj.name_en} </span>
							<span class="extra">
								<span id="J_get_static_list" data="${static_dir}">显示Psd</span>
								<span id="J_handle_css" title="Less、Css、Js处理">3S处理</span>
								<span id="J_batch_psd" title="psd文件重命名、导出jpg">Psd处理</span>
							</span>
						</h4>
						<div class="list" id="J_static_box">
							${staticHtml}
						</div>
					</div>
				</div>
				<div class="hor_item dright">
					<dl class="details_item">
						<dt class="item_name">名称:</dt>
						<dt class="item_cont">${obj.name_zh}</dt>
						<dt class="item_name">文件夹:</dt>
						<dd class="item_cont">${obj.name_en}</dd>
						<dt class="item_name">状态:</dt>
						<dd class="item_cont">
							<i class="icon_state ${obj.state}">${PROJECT_STATE[obj.state]}</i>
							<span class="stat_text">${PROJECT_STATE[obj.state]}</span>
						</dd>
						<dt class="item_name">开始时间:</dt>
						<dd class="item_cont">${obj.starttime}</dd>
						<dt class="item_name">周期:</dt>
						<dd class="item_cont">${obj.period} 天</dd>
						<dt class="item_name">创建人:</dt>
						<dd class="item_cont"><a href="/v/user/${author.id}/">${author}</a></dd>
						<dt class="item_name">创建时间:</dt>
						<dd class="item_cont">${obj.ctime}</dd>
						<dt class="item_name">负责人:</dt>
						<dd class="item_cont"><a href="/v/user/${manager.id}/">${manager}</a></dd>
						<dt class="item_name">优先级:</dt>
						<dd class="item_cont">${WEIGHT[obj.weight]}</dd>
						<dt class="item_name">进度:</dt>
						<dd class="item_cont">
							%if cuser and cuser.department == 0:
							<div class="degreebar" rel="/updatedegree/project/${obj.id}/">
							%else:
							<div class="degreebar">
							%endif
								<div class="degree" style="width:${obj.degree}%">0%</div>
								<span class="degree_number">${obj.degree}%</span>
							</div>
						</dd>
						<dt class="item_name">自动刷新关联文件:</dt>
						<dd class="item_cont" id="J_auto_file">
							%if type(autofile) == tuple:
								%for item in autofile:
								<a href="javascript:;" class="fileitem">
									${item}
									<i class="J_break_auto_file" data="${item}" title="断开关联">断开关联</i>
								</a>
								%endfor
							%else:
								<a href="javascript:;" class="fileitem">
									${autofile}
									<i class="J_break_auto_file" data="${autofile}" title="断开关联">断开关联</i>
								</a>
							%endif
						</dd>
						<dt class="item_name">描述:</dt>
						<dd class="item_cont">${obj.summary}</dd>
					</dl>
					<script type="text/javascript">
						(function(){
							 $.addEvent(document,"click",function(e){
								 var e = $.getEvent(e);
								 var target = e.target;
								 var data = "";
								 if(target.nodeName.toLowerCase() === "i" && target.className === "J_break_auto_file"){
									 if(!("${uid}" * 1)){
										alert("请先登陆");
										return false;
									 }
								 	data = target.getAttribute("data");
									if(data === "header.html" || data === "footer.html"){
										alert("不能断开" + data + "的关联");
										return false;
									}
									$.ajax({
									   url : "/removerfile/?pid=${obj.id}&f=" + data,
									   success : function(d){
										   if(d * 1){
										   		alert("不能断开" + data + "的关联");
											}else{
											   target.parentNode.parentNode.removeChild(target.parentNode);
											   alert(d);
											}
									   }
									});
								 }
							 });
						}());
					</script>
				</div>
			</div>
		</div>
		<div class="extra product">
			<a href="/edit/project/${obj.id}/" class="editlink">编辑</a>
			<select id="J_otheritem">
				<option value="${obj.id}">${obj.name_zh}</option>
				%for item in allProjects:
					%if item.id != obj.id:
					<option value="${item.id}">${item.name_zh}</option>
					%endif
				%endfor
			</select>

			<script type="text/javascript">
				(function(){
					var oSelect = document.getElementById("J_otheritem");
					$.addEvent(oSelect,"change",function(){
						window.location.href = "/v/project/" + this.value + "/";
					});
				}());
			</script>
		</div>
	</div>
	<div class="box">
		<div class="bt">
			<span class="tit">相关任务</span>
			<span class="icon_guide">
				${icon_guide_html}
			</span>
		</div>
		<div class="bc">
			%if len(related_tasks):
			<table class="table">
				<colgroup>
					<col width="4%"/>
					<col width="36%"/>
					<col width="10%"/>
					<col width="20%"/>
					<col width="10%"/>
					<col width="20%"/>
				</colgroup>
				<thead>
					<tr>
						<th>状态</th>
						<th>名称</th>
						<th>编号</th>
						<th>进度</th>
						<th>优先级</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					%for item in related_tasks:
					<tr>
						<td><i class="icon_state ${item.state}" title="${TASK_STATE[item.state]}">&nbsp;</i></td>
						<td class="aleft ${item.weight}"><a href="/v/task/${item.id}/">${item.name}</a></td>
						<td><a href="/v/task/${item.id}/">#${item.id}</a></td>
						<td>
							%if cuser and cuser.department == 0:
							<div class="degreebar" rel="/updatedegree/task/${item.id}/">
							%else:
							<div class="degreebar">
							%endif
								<div class="degree" style="width:${item.degree}%">${item.degree}%</div>
								<span class="degree_number">${item.degree}%</span>
							</div>
						</td>
						<td>${WEIGHT[item.weight]}</td>
						<td><a href="#">编辑</a></td>
					</tr>
					%endfor
				</tbody>
			</table>
			%else:
			<div class="emptybox">暂无数据</div>
			%endif
		</div>
	</div>
	<div id="J_batch_psd_box">
		<div class="option">
			%if psd_prefix:
			<span class="field">已使用 <strong class="already">${psd_prefix}</strong> 做为命名前缀，为避免混乱，请继续使用该前缀</span>
				<input type="hidden" id="J_batch_psd_prefix" value="${psd_prefix}" />
			%else:
				<span class="field">请输入要添加的前缀:</span>
				<input type="text" id="J_batch_psd_prefix" value="p" />
			%endif
			<a href="javascript:;" class="btn gray_btn">
				<span id="J_batch_psd_btn" data="${psd_dir}">开始处理</span>
			</a>
			<span id="J_batch_tips" class="field">正在获取文件列表…</span>
			<p>给 psd 文件加上统一的前缀和编号并导出 jpg 文件到该 psd 所在目录下的 jpg 目录中.请注意下方面板中输出的处理信息，根据提示进行相关操作！ </p>
			<p style="color:red">注意：HTML 页面将采用此前缀加对应的编号进行命名！如 p1.html, 请严格遵守命名规范，以免造成混乱. </p>
			<p class="psd_dir">psd根目录：${SERVER_INFO['ip']}${psd_dir}</p>
		</div>
		<div id="J_batch_msg"></div>
		<iframe class="coverframe" src="" scrolling="no" frameborder="no"></iframe>
	</div>
</%def>

<!-- side -->
<%def name="side()">
	<%
		from cobra.apps.system import models as sm
		from cobra.apps.system.config import TASK_STATE,WEIGHT,DEPARTMENT
	%>

	<div class="box">
		<div class="bt">
			<span class="tit">参与成员</span>
		</div>
		<div class="bc">
			<ul class="related_users">
				%for item in related_users:
				<%
					useritem = sm.User.objects.get(id = item.uid)
				%>
				<li class="user_item">
					<div class="hor_box media">
						<div class="hor_item pic">
							<a href="/v/user/${useritem.id}/">
								<img src="/s/media/user_pic/${useritem.upic}" alt="${useritem.name_zh}" width="32" height="32">
							</a>
						</div>
						<div class="hor_item txt">
							<p class="item">
								姓名:<a href="/v/user/${useritem.id}/">${useritem.name_zh}</a>
							</p>
							<p class="item">部门:${DEPARTMENT[useritem.department]}</p>
						</div>
					</div>
				</li>
				%endfor
			</ul>
		</div>
	</div>
	<div class="box">
		<div class="bt">
			<span class="tit">添加成员</span>
		</div>
		<div class="bc ">
			<select id="J_add_new_member">
				%for item in allUsers:
				<option value="${item.id}">${item}【${DEPARTMENT[item.department]}】</option>
				%endfor
			</select>
			<a href="javascript:;" class="btn gray_btn" id="J_add_new_member_btn">
				<span>添加</span>
				<input type="submit" value="添加" />
			</a>
		</div>
	</div>
	<div class="box">
		<div class="bt">
			<span class="tit">新建项目</span>
		</div>
		<div class="bc">
			<div class="btnbox newitem" style="text-align:center">
				<a class="btn gray_btn" href="/add/project/">
					<span>新项目</span>
				</a>
			</div>
		</div>
	</div>
</%def>

<%def name="crumbs()">
	<em>&gt;</em>
	<a href="/v/project">项目</a>
	<em>&gt;</em>
	<span>${obj.name_zh}</span>
</%def>

<%def name="outer()">
</%def>
