##-*-coding:utf-8-*-
<%inherit file="base.html" />

<%def name="title()">
	首页
</%def>

<!-- outfile -->
<%def name="outfile()"></%def>


<!-- main -->
<%def name="main()">
	<%
		from cobra.apps.system import models as sm
		from cobra.apps.system.config import TASK_STATE,WEIGHT,PROJECT_STATE
	%>

	<div class="box">
		<div class="bt">
			<span class="tit">最新项目</span>
			<span class="icon_guide">
				${icon_guide_html}
			</span>
		</div>
		<div class="bc">
			%if len(allProjects):
			<table class="table">
				<colgroup>
					<col width="4%"/>
					<col width="28%"/>
					<col width="8%"/>
					<col width="9%"/>
					<col width="9%"/>
					<col width="8%"/>
					<col width="12%"/>
					<col width="10%"/>
					<col width="12%"/>
				</colgroup>
				<thead>
					<tr>
						<th>状态</th>
						<th>名称</th>
						<th>优先级</th>
						<th>创建时间</th>
						<th>开始时间</th>
						<th>周期</th>
						<th>进度</th>
						<th>负责人</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					%for item in allProjects:
					<tr>
						<td><i class="icon_state ${item.state}" title="${PROJECT_STATE[item.state]}">&nbsp;</i></td>
						<td class="aleft ${item.weight}"><a href="/system/v/project/${item.id}/">${item.name_zh} (${item.name_en})</a></td>
						<td>${WEIGHT[item.weight]}</td>
						<td>${item.ctime}</td>
						<td>${item.starttime}</td>
						<td>${item.period} 天</td>
						<td>
							<div class="degreebar">
								<div class="degree" style="width:${item.degree}%">${item.degree}%</div>
								<span class="degree_number">${item.degree}%</span>
							</div>
						</td>
						<td><a href="/system/v/user/${item.manager}/">${sm.User.objects.get(id = item.manager).name_zh}</a></td>
						<td><a href="#">编辑</a></td>
					</tr>
					%endfor
				</tbody>
			</table>
			%else:
			<div class="emptybox">暂无数据</div>
			%endif
		</div>
	</div>
	<div class="box">
		<div class="bt">
			<span class="tit">最新任务</span>
			<span class="icon_guide">
				${icon_guide_html}
			</span>
		</div>
		<div class="bc">
			%if len(allTasks):
			<table class="table">
				<colgroup>
					<col width="4%"/>
					<col width="28%"/>
					<col width="10%"/>
					<col width="24%"/>
					<col width="12%"/>
					<col width="10%"/>
					<col width="12%"/>
				</colgroup>
				<thead>
					<tr>
						<th>状态</th>
						<th>名称</th>
						<th>编号</th>
						<th>项目</th>
						<th>进度</th>
						<th>优先级</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					%for item in allTasks:
					<tr>
						<td><i class="icon_state ${item.state}" title="${TASK_STATE[item.state]}">&nbsp;</i></td>
						<td class="aleft ${item.weight}"><a href="/system/v/task/${item.id}/">${item.name}</a></td>
						<td><a href="/system/v/task/${item.id}/">#${item.id}</a></td>
						%if item.pid:
							<td class="aleft"><a href="/system/v/project/${item.pid}/">${sm.Project.objects.get(id = item.pid)}</a></td>
						%else:
							<td>---</td>
						%endif
						<td>
							<div class="degreebar">
								<div class="degree" style="width:${item.degree}%">${item.degree}%</div>
								<span class="degree_number">${item.degree}%</span>
							</div>
						</td>
						<td>${WEIGHT[item.weight]}</td>
						<td><a href="#">编辑</a></td>
					</tr>
					%endfor
				</tbody>
			</table>
			%else:
			<div class="emptybox">暂无数据</div>
			%endif
		</div>
	</div>

	<!--
	<div class="box">
		<div class="bt">
			<span class="tit">表单控件</span>
		</div>
		<div class="bc">
			<form action="">
				<div class="form">
					<div class="item">
						<span class="field">字段名：</span>
						<input type="text" class="txt w250" />
					</div>
					<div class="item">
						<span class="field">字段名：</span>
						<input type="text" class="txt w250 focus" />
					</div>
					<div class="item">
						<span class="field">字段名：</span>
						<input type="text" class="txt w250 err" />
					</div>
					<div class="item">
						<span class="field">单选按钮：</span>
						<label class="radio"><input type="radio" name="test" class="hide_field"/>单选按钮</label>
						<label class="radio"><input type="radio" name="test" class="hide_field"/>单选按钮</label>
					</div>
				</div>
			</form>
		</div>
	</div>
	-->
</%def>

<!-- side -->
<%def name="side()">
	<%
		from cobra.apps.system import models as sm
		from cobra.apps.system.config import TASK_STATE,WEIGHT,PROJECT_STATE
	%>

	<div class="box">
		<div class="bt">
			<span class="tit">系统信息</span>
		</div>
		<div class="bc">
			<div class="count_box">
				<p class="item">项目总数：${len(allProjects)}</p>
				<p class="item">任务总数：${len(allTasks)}</p>
				<p class="item">成员总数：${len(allUsers)}</p>
			</div>
		</div>
	</div>

	%if cuser:
	<div class="box">
		<div class="bt">
			<span class="tit">创建和添加</span>
		</div>
		<div class="bc">
			<div class="btnbox justify_box newitem">
				<a class="btn gray_btn justify_item" href="/system/add/project/">
					<span>新项目</span>
				</a>
				<a  class="btn gray_btn justify_item"href="/system/add/task/">
					<span>新任务</span>
				</a>
				<a class="btn gray_btn justify_item" href="/system/add/user/">
					<span>新成员</span>
				</a>
				<a class="btn gray_btn justify_item" href="/system/add/group/">
					<span>新用户组</span>
				</a>
			</div>
		</div>
	</div>
	%endif
</%def>

<%def name="crumbs()"></%def>
