##-*-coding:utf-8-*-
<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>页面跳转中...</title>
		<meta http-equiv="Refresh" content="4;URL=/login/?ref_page=${full_path}" />
	</head>
	<body>
		<div class="jumppage">
			<p>您尚未登录, <span id="second">3</span> 秒钟后将跳转到登录页面</p>
			<p>如果您的浏览器没有跳转，<a href="/login/?ref_page=${full_path}">请点击这里手动跳转</a></p>
			<script type="text/javascript">
				var second = 3;
				var spanSecond = document.getElementById("second");
				setInterval(function(){
					if(second){
						spanSecond.innerHTML = second--;
					}
				},1000);
			</script>
		</div>
	</body>
</html>

