##-*-coding:utf-8-*-
<%inherit file="base.html" />

<%def name="title()">
	成员
</%def>

<!-- outfile -->
<%def name="outfile()"></%def>

<!-- main -->
<%def name="main()">
	<div class="box">
		<div class="bt">
			<span class="tit">成员列表</span>
		</div>
		<div class="bc">
			%if len(allUsers):
			   <ul class="hor_list user_list">
				  	%for item in allUsers.order_by("department"):
				   <li class="user_item"> 
					   <div class="hor_box media">
						   <div class="hor_item pic">
							   <a href="/v/user/${item.id}/">
								   <img src="/s/media/user_pic/${item.upic}" alt="${item.name_zh}" width="32" height="32" />
							   </a>
						   </div>
						   <div class="hor_item txt">
							   <p class="item">
								   姓名:<a href="/v/user/${item.id}/">${item.name_zh}</a>
							   </p>
							   <p class="item">部门:${item.department}</p>
							   <p class="item">Email:${item.email}</p>
						   </div>
					   </div>
				   </li>
				   %endfor
			   </ul>
			%else:
			<div class="emptybox">暂无数据</div>
			%endif
		</div>
	</div>
</%def>

<!-- side -->
<%def name="side()">
<div class="box">
	<div class="bt">
		<span class="tit">增加成员</span>
	</div>
	<div class="bc">
		<div class="btnbox newitem" style="text-align:center">
			<a class="btn gray_btn" href="/add/user/">
				<span>新成员</span>
			</a>
		</div>
	</div>
</div>
</%def>

<%def name="crumbs()">
	<em>&gt;</em>
	<span>成员</span>
</%def>
