##-*-coding:utf-8-*-
<%inherit file="base.html" />

<%def name="title()">
	任务列表
</%def>

<!-- outfile -->
<%def name="outfile()"></%def>

<!-- main -->
<%def name="main()">
	<div class="box">
		<div class="bt">
			<span class="tit">任务列表</span>
		</div>
		<div class="bc">
			<table class="table">
				<thead>
					<tr>
						<th>编号</th>
						<th>名称</th>
						<th>状态</th>
						<th>优先级</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="#">#500</a></td>
						<td>第二列</td>
						<td>第三列</td>
						<td>第四列</td>
					</tr>
					<tr class="even">
						<td>第一列</td>
						<td>第二列</td>
						<td>第三列</td>
						<td>第四列</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</%def>

<!-- side -->
<%def name="side()">
	<div class="box">
		<div class="bt">
			<span class="tit">任务统计</span>
		</div>
		<div class="bc">
            <p>已完成:10个</p>
            <p>未完成:3个</p>
            <p>完成百分比:77%</p>
		</div>
	</div>
	<div class="box">
		<div class="bt">
			<span class="tit">新建任务</span>
		</div>
		<div class="bc">
			<a href="#">新建任务</a>
		</div>
	</div>
</%def>

<%def name="crumbs()">
	<em>&gt;</em>
	<span>任务</span>
</%def>
