##-*-coding:utf-8-*-
<%inherit file="base.html" />

<%def name="title()">
	任务列表
</%def>

<!-- outfile -->
<%def name="outfile()"></%def>

<!-- main -->
<%def name="main()">
	<%
		from cobra.apps.system.config import WEIGHT,TASK_STATE
	%>
	<div class="box">
		<div class="bt">
			<span class="tit">任务列表</span>
			<span class="icon_guide">
				${icon_guide_html}
			</span>
		</div>
		<div class="bc">
			%if len(allTasks):
			<table class="table">
				<thead>
					<tr>
						<th>状态</th>
						<th>编号</th>
						<th>名称</th>
						<th>优先级</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					%for item in allTasks.order_by("-id"):
					<tr>
						<td>${item.state}</td>
						<td><a href="/system/v/task/${item.id}/">#${item.id}</a></td>
						<td class="${item.weight}"><a href="/system/v/task/${item.id}/">${item.name}</a></td>
						<td>${WEIGHT[item.weight]}</td>
						<td><a href="#">编辑</a></td>
					</tr>
					%endfor
				</tbody>
			</table>
			%else:
			<div class="emptybox">暂无数据</div>
			%endif
		</div>
	</div>
</%def>

<!-- side -->
<%def name="side()">
	<div class="box">
		<div class="bt">
			<span class="tit">任务统计</span>
		</div>
		<div class="bc">
            <p>已完成:10个</p>
            <p>未完成:3个</p>
            <p>完成百分比:77%</p>
		</div>
	</div>
	<div class="box">
		<div class="bt">
			<span class="tit">新建任务</span>
		</div>
		<div class="bc">
			<a href="/system/add/task/">新建任务</a>
		</div>
	</div>
</%def>

<%def name="crumbs()">
	<em>&gt;</em>
	<span>任务</span>
</%def>
