## -*-coding:utf-8 -*-
<%inherit file="base.html" />

<%def name="title()">
	项目列表
</%def>

<!-- outfile -->
<%def name="outfile()"></%def>

<!-- main -->
<%def name="main()">
	<%
		from cobra.apps.system import models as sm
	%>
	<div class="box">
		<div class="bt">
			<span class="tit">项目列表</span>
		</div>
		<div class="bc">
			%if len(allProjects):
			<table class="table">
				<thead>
					<tr>
						<th>状态</th>
						<th>名称</th>
						<th>开始时间</th>
						<th>周期</th>
						<th>负责人</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					%for item in allProjects.order_by("-id"):
					<tr>
						<td>${item.state}</td>
						<td><a href="/system/v/project/${item.id}">${item.name_zh}</a></td>
						<td>${item.starttime}</td>
						<td>${item.period}</td>
						<td>${sm.User.objects.get(id= item.manager).name_zh}</td>
						<td>
							<a href="#">编辑</a>
						</td>
					</tr>
					%endfor
				</tbody>
			</table>
			%else:
			<div class="emptybox">暂无数据</div>
			%endif
		</div>
	</div>
</%def>

<!-- side -->
<%def name="side()">
	<div class="box">
		<div class="bt">
			<span class="tit">项目统计</span>
		</div>
		<div class="bc">
			<ul class="info_list">
				<li class="item">项目总数：${len(allProjects)}</li> 
				<li class="item">项目总数：${len(allProjects)}</li> 
				<li class="item">项目总数：${len(allProjects)}</li> 
				<li class="item">项目总数：${len(allProjects)}</li> 
			</ul>
		</div>
	</div>
	<div class="box">
		<div class="bt">
			<span class="tit">新建项目</span>
		</div>
		<div class="bc">
			<a href="/system/add/project">新建项目</a>
		</div>
	</div>
</%def>

<%def name="crumbs()">
	<em>&gt;</em>
	<span>项目</span>
</%def>
