##-*-coding:utf-8-*-
<%inherit file="base.html" />

<%def name="title()">
	任务列表
</%def>

<!-- outfile -->
<%def name="outfile()"></%def>

<!-- main -->
<%def name="main()">
	<%
		from cobra.apps.system import models as sm
		from cobra.apps.system.config import TASK_STATE,WEIGHT,PROJECT_STATE
	%>
	<div class="box">
		<div class="bt">
			<span class="tit">任务列表</span>
			<span class="icon_guide">
				${icon_guide_html}
			</span>
		</div>
		<div class="bc">
			%if len(allTasks):
			<table class="table">
				<colgroup>
					<col width="4%"/>
					<col width="28%"/>
					<col width="10%"/>
					<col width="24%"/>
					<col width="12%"/>
					<col width="10%"/>
					<col width="12%"/>
				</colgroup>
				<thead>
					<tr>
						<th>状态</th>
						<th>名称</th>
						<th>编号</th>
						<th>项目</th>
						<th>进度</th>
						<th>优先级</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					%for item in allTasks.order_by("-id"):
					<tr>
						<td><i class="icon_state ${item.state}" title="${TASK_STATE[item.state]}">&nbsp;</i></td>
						<td class="aleft ${item.weight}"><a href="/system/v/task/${item.id}/">${item.name}</a></td>
						<td><a href="/system/v/task/${item.id}/">#${item.id}</a></td>
						%if item.pid:
							<td class="aleft"><a href="/system/v/project/${item.pid}/">${sm.Project.objects.get(id = item.pid)}</a></td>
						%else:
							<td class="aleft">---</td>
						%endif
						<td>
							<div class="degreebar">
								<div class="degree" style="width:${item.degree}%">${item.degree}%</div>
								<span class="degree_number">${item.degree}%</span>
							</div>
						</td>
						<td>${WEIGHT[item.weight]}</td>
						<td><a href="#">编辑</a></td>
					</tr>
					%endfor
				</tbody>
			</table>
			%else:
			<div class="emptybox">暂无数据</div>
			%endif
		</div>
	</div>
</%def>

<!-- side -->
<%def name="side()">
	<%
		from cobra.apps.system import models as sm
		from cobra.apps.system.config import TASK_STATE,WEIGHT,PROJECT_STATE
	%>

	<div class="box">
		<div class="bt">
			<span class="tit">任务统计</span>
		</div>
		<div class="bc">
			<div class="count_box">
				<p class="item">任务总数：${len(allTasks)}</p>
				<p class="item"><i class="icon_state a_new"></i>新创建：${len(sm.Task.objects.filter(state = "a_new"))}</p>
				<p class="item"><i class="icon_state b_apportion"></i>已分派：${len(sm.Task.objects.filter(state = "b_apportion"))}</p>
				<p class="item"><i class="icon_state c_doing"></i>进行中：${len(sm.Task.objects.filter(state = "c_doing"))}</p>
				<p class="item"><i class="icon_state d_confirming"></i>确认中：${len(sm.Task.objects.filter(state = "d_confirming"))}</p>
				<p class="item"><i class="icon_state e_reviseing"></i>调整中：${len(sm.Task.objects.filter(state = "e_reviseing"))}</p>
				<p class="item"><i class="icon_state f_over"></i>已结束：${len(sm.Task.objects.filter(state = "f_over"))}</p>
			</div>
		</div>
	</div>
	<div class="box">
		<div class="bt">
			<span class="tit">新建任务</span>
		</div>
		<div class="bc">
			<div class="btnbox newitem" style="text-align:center">
				<a class="btn gray_btn" href="/system/add/task/">
					<span>新任务</span>
				</a>
			</div>
		</div>
	</div>
</%def>

<%def name="crumbs()">
	<em>&gt;</em>
	<span>任务</span>
</%def>
