##-*-coding:utf-8-*-
<%inherit file="base.html" />

<%def name="title()">
	成员
</%def>

<!-- outfile -->
<%def name="outfile()"></%def>

<!-- main -->
<%def name="main()">
	<div class="box">
		<div class="bt">
			<span class="tit">成员列表</span>
		</div>
		<div class="bc">
			%if len(allUsers):
			<table class="table">
				<thead>
					<tr>
						<th>用户名</th>
						<th>姓名</th>
						<th>Email</th>
						<th>部门</th>
					</tr>
				</thead>
				<tbody>
					%for item in allUsers.order_by("department"):
					<tr>
						<td>${item.usm}</td>
						<td>${item.name_zh}</td>
						<td>${item.email}</td>
						<td>${item.department}</td>
					</tr>
					%endfor
				</tbody>
			</table>
			%else:
			<div class="emptybox">暂无数据</div>
			%endif
		</div>
	</div>
</%def>

<!-- side -->
<%def name="side()">
<div class="box">
	<div class="bt">
		<span class="tit">增加成员</span>
	</div>
	<div class="bc">
		如果是管理员帐号，则显示和添加成员链接
		<a href="/system/add/user">增加成员</a>
	</div>
</div>
</%def>

<%def name="crumbs()">
	<em>&gt;</em>
	<span>成员</span>
</%def>
