##-*-coding:utf-8-*-
%if tpl.startswith("_"):
<%include file="_header.html" />
%if tpl == "_merge.html":
<%include file="_merge.html" />
%else:
<%include file="/www/${p}/${tpl}" />
%endif
<%include file="_footer.html" />
%else:
<%include file="/www/${p}/${tpl}" />
%endif


<!-- 生成控制面板 -->
<script type="text/javascript" src="/s/system/js/view.js"></script>
<script type="text/javascript">
	window.autoReloadTimer = null;
	window.autoReloadLock = true;
	window.autoReloadPath = "/system/inotify/?path=/${p}";
	window.autoReloadInterval = "${request.INTERVAL}";
	window.__INOTIFY__ = function(){
		var url = window.autoReloadPath;
		var interval = window.autoReloadInterval;
		clearTimeout(window.autoReloadTimer);
		if(!window.autoReloadLock){
			return false;
		}else{
			__$__.ajax({
				url : url,
				success : function(data){
					if(data * 1){
						document.location.reload();
					}
				}		
			});
		}
		window.autoReloadTimer = setTimeout(arguments.callee,interval);
	};
	(function(){
		var oControlPanel = document.createElement("div");
		var oControlPanelStyle = document.createElement("link");
		var clientHeight = document.documentElement.clientHeight;
		var cssText = "";
		var oFileList = null;
		var oReloadBtn = null;
		var oLockBtn = null;
		var oArrow = null;
		//var aLinkList = null;
		var host = "http://" + document.location.host.toString();
		var currentLocation = document.location.toString();
		var html = '';
		oControlPanelStyle.href = "/s/system/css/view.css";
		oControlPanelStyle.type = "text/css";
		oControlPanelStyle.rel = "stylesheet";
		document.getElementsByTagName("head")[0].appendChild(oControlPanelStyle);
		oControlPanel.id = "J_system_control_panel";
		cssText = "height:" + clientHeight + "px;";
		__$__.css(document.body,"minWidth") === undefined ? (cssText += "position:absolute;") : (cssText += "position:fixed;");
		oControlPanel.style.cssText = cssText;
		html += '<dl class="system_control_panel">';
		html += '<dt class="system_control_btn"><div id ="J_system_reload_btn" class="on">自动刷新:'
		html += '</div><span id="J_system_control_lock" class="unlock">锁定面板:</span></dt>';
		html += '<dt><strong>文件列表</strong> <a href="/system/v/project/${pobj.id}/" class="system_back_link system_project_list">项目详情</a>'
		html += '<a href="/system/v/project/" class="system_back_link system_project_details">所有项目</a></dt>';
		html += '<dd id="J_control_panel_files_list" class="loading">';
		html += '</dd>';
		html += '</dl><span id="J_system_control_arrow" class="arrow"></span>';
		oControlPanel.innerHTML = html;
		document.body.appendChild(oControlPanel);

		oReloadBtn = document.getElementById("J_system_reload_btn");
		oLockBtn   = document.getElementById("J_system_control_lock");
		oArrow     = document.getElementById("J_system_control_arrow");
		oFileList  = document.getElementById("J_control_panel_files_list");
		
		__$__.ajax({
			url : "/system/getree/?dir=/${p}",
			success : function(data){
				oFileList.innerHTML = data;
				var aLinkList  = oFileList.getElementsByTagName("a");
				for(var i = aLinkList.length - 1; i >= 0; i--){
					var oLink = aLinkList[i];
					if(oLink.parentNode.className === "dir_name"){
						continue;
					}
					var sLinkHref = oLink.href.toString();
					var argsLocation = sLinkHref.indexOf("?");
					if(argsLocation > -1){
						sLinkHref = sLinkHref.substr(0,argsLocation);
					}
					var hrefReg = new RegExp(sLinkHref);
					if(hrefReg.test(currentLocation)){
						oFileList.scrollTop = (__$__.position(oLink).top - clientHeight / 2 + 13);
						oLink.style.color = "#f30";
						document.title = oLink.innerHTML;
					}
				}
				oFileList.className = "";
			}
		});

		oArrow.style.cssText = "top:50%;left:-26px;margin-top:-13px;";

		if(__$__.cookie().get("cpanel_lock") * 1){
			oControlPanel.style.right = 0;
			oLockBtn.className = "lock";
		}

		oFileList.style.height = clientHeight - 60 + "px";

		function resize(){
			var clientHeight = document.documentElement.clientHeight;
			oControlPanel.style.height = clientHeight + "px";
			if(__$__.css(oControlPanel,"position") === "absolute"){
				oControlPanel.style.top = document.documentElement.scrollTop + "px";
				oArrow.style.cssText = "top:50%;left:-26px;margin-top:-13px;";
			}
			oFileList.style.height = clientHeight - 60 + "px";
		}
		__$__.addEvent(window,"resize",function(){
			__$__.throttle(resize);
		});
		if(__$__.css(oControlPanel,"position") === "absolute"){
			__$__.addEvent(window,"scroll",function(){
				oControlPanel.style.top = document.documentElement.scrollTop + "px";
			});
		}
		__$__.addEvent(oReloadBtn,"click",function(){
			if(this.className === "on"){
				this.className = "off";
				window.autoReloadLock = false;
			}else{
				this.className = "on";
				window.autoReloadLock = true;
				window.__INOTIFY__();
			}
		});
		__$__.addEvent(oLockBtn,"click",function(){
			if(this.className === "lock"){
				this.className = "unlock";
				__$__.cookie().del({
					"name" : "cpanel_lock",
					"path" : "/system/p"
				});
			}else{
				this.className = "lock";
				__$__.cookie().set({
					"name" : "cpanel_lock",
					"value" : 1,
					"path" : "/system/p"
				});
			}
		});
		__$__.addEvent(oArrow,"click",function(){
			oControlPanel.style.right = "-262px";
		});
		__$__.addEvent(oControlPanel,"mouseover",function(e){
			var e = __$__.getEvent(e);
			if(e.target === oControlPanel && e.from === oControlPanel){
				oControlPanel.style.right = "-262px";
			}else{
				oControlPanel.style.right = "0";
			}
		});
		__$__.addEvent(oControlPanel,"mouseout",function(e){
			var e = __$__.getEvent(e);
			if(oLockBtn.className === "lock"){
				return false;
			}
			oControlPanel.style.right = "-262px";
		});
	}());

	__$__.ready(function(){
		window.__INOTIFY__();
	});
</script>
