@import "variable.less?v=2";
/*
 * author   : fekit
 * email    : fekit@8cuo.org
 * filename : *fekit*
 *
 * @param name 	: 模块名称
 * @param class : 模块类名
 * @param time 	: 更新时间
 */

/********************************* demo start **************************/
//0尺寸demo
.cobra_system_moudle_demo .zero_size{
	padding-left:100px;
	padding-top:100px;
	background-color:#333;
}

//arrow demo
.cobra_system_moudle_demo .arrow{
	border-top-style:solid;
	border-top-color:#333;
	border-width:100px;
}

.cobra_system_moudle_demo .arrow2{
	border-top-style:double;
}

//rotate demo
.cobra_system_moudle_demo .arrow1{
	border-left-style:solid;
	border-left-color:#F30;
}

//trim demo
.cobra_system_moudle_demo .trim_item{
	background-color:#333;
	color:#FFF;
	padding:0 8px;
}

//inline demo
.cobra_system_moudle_demo .inline img{
	vertical-align:bottom;
}

//justify demo
.cobra_system_moudle_demo .justify img{
	vertical-align:bottom;
	border:1px solid #F30;
}
.cobra_system_moudle_demo .justify2{
	width:700px;
	margin:16px auto 0;
}

//fixed grid demo
.cobra_system_moudle_demo .fixed_demo{
	width:960px;
	margin-left:auto;
	margin-right:auto;
}
.cobra_system_moudle_demo .fixed{
	margin-bottom:12px;
}
.cobra_system_moudle_demo .fixed .grid_item{
	border-radius:3px;
	background-color:#CCC;
	color:#000;
	text-align:center;
	line-height:30px;
}
.cobra_system_moudle_demo .inner_fixed_grid .grid_item{
	background:#333;
	color:#FFF;
}
.cobra_system_moudle_demo .inner_fixed_grid .grid_item .grid .grid_item{
	background-color:#57A000;
	color:#FFF;
}
.cobra_system_moudle_demo .text_justify_demo .text_justify{
	width:120px;
	height:30px;
	background-color:#333;
	margin-bottom:8px;
	color:#FFF;
	line-height:30px;
	font-size:14px;
}

//frame_col2_01
.cobra_system_moudle_demo .wrapper{
	line-height:3;
}
.cobra_system_moudle_demo .wrapper .main{
	background-color:#57A000;
}
.cobra_system_moudle_demo .wrapper .side{
	background-color:#CCC;
}

//frame_col2_02
.cobra_system_moudle_demo .wrapper2,
.cobra_system_moudle_demo .wrapper2 .main,
.cobra_system_moudle_demo .wrapper2 .side{ .rotate_x; } /********************************* demo end **************************/
