@import "variable.less";
.wp{
	font-size:0;
	letter-space:-0.5em;
}

.main,.side{
	display:inline-block;
	vertical-align:top;
	font-size:12px;
	letter-space:normal;
}

.main{
	width:70%;
	background-color:#333;
}

.side{
	width:30%;
	background-color:#ccc;
}
