@import "variable.less";
/*
*name : 内容自动
*class : layoutWidth
*time : 2012-09-22 11:06
*/
.layoutWidth{
	.left{
		float:left;
		white-space:nowrap;
		background:gray;
	}
	.right{
		background:red;
		overflow:hidden;
		*zoom:1;  /* for IE6/7 */
	}
}

@font-face{
	font-family:"icon1";
	src:url(../../font/entypo.eot);
	src: url(../../font/entypo.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
    	 url(../../font/entypo.woff) format('woff'), /* Modern Browsers */
    	 url(../../font/entypo.ttf)  format('truetype'), /* Safari, Android, iOS */
    	 url(../../font/entypo.svg#entypo) format('svg'); /* Legacy iOS */

}
.test_icon{
	font-family:icon1;
	font-size:16px;
	color:#333;
}


/* 
*name:movie-icon
*class:movie_icon
*time:2012-10-14
 */
.movie_icon li{
	float:left;
	_display:inline; /*for ie 6*/
	width:60px;
	height:60px;
	margin:10px 0 10px 10px;
	a{
		font-size:50px;
		line-height:58px;
		font-family:movie_regular;
		display:inline-block;
		width:58px;
		height:58px;
		text-align:center;
		border:1px solid #f0f0f0;
		border-radius:5px;/*for !IE+lte9*/
		color:black;
	}
}

.movie_icon li a:hover{
	color:#900;
	border-color:#900;
}