@import "variable.less";
/* 
*name:movie-icon
*class:movie_icon
*time:2012-10-14
 */
.movie_icon li{
	width:60px;
	margin:10px 0 10px 10px;
	text-align:center;
	a{
		font-size:50px;
		line-height:58px;
		font-family:movie_regular;
		display:inline-block;
		width:58px;
		height:58px;
		text-align:center;
		border:1px solid #f0f0f0;
		border-radius:5px;/*for !IE+lte9*/
		color:black;
		margin-bottom:3px;
	}
}

.movie_icon li a:hover{
	color:#900;
	border-color:#900;
}
