@import "variable.less";
/*
 * name : reset
 * class : None
 * time : 2012-09-21 21:29:30
 */


html,textarea{
	overflow-x:auto;
	overflow-y:scroll;
}

body,ul,ol,p,dl,dd,form,textarea,
h1,h2,h3,h4,h5,h6,fieldset,input{
	margin:0;
}

ul,ol,input,button,td,th,fieldset{
	padding:0;
}

ul,ol{
	list-style-type:none;
	list-style-position:outside;
}

a:link{
	text-decoration:none;
	color:@link_color;
}

a:visited{
	color:@visited_color;
}

a:hover{
	text-decoration:underline;
	color:@hover_color;
}

a:active{
	color:@active_color;
}

a img,fieldset{
	border:none 0;
}

fieldset legend{
	display:none;
}

a,input,button,textarea{
	outline:none;
}

textarea{
	resize:none;
}

table{
	border-collapse:collapse;
	border-spacing:0;
}

em{
	font-style:normal;
}

.clear{
	clear:both;
}

.clearfix:after{
	content:"";
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}

.clearfix{
	*zoom:1;
}

body{
	font:@font;
	color:@body_color;
	background-color:@body_bg;
}
