/*
 * name : reset
 * class : None
 * time : 2012-09-21 21:29:30
 */

html,textarea{
	overflow-x:auto;
	overflow-y:scroll;
}

body,ul,ol,p,dl,dd,form,textarea,
h2,h2,h3,h4,h5,h6,fieldset,input{
	margin:0;
}

ul,ol,input,button,td,th,fieldset{
	padding:0;
}

ul,ol{
	list-style-type:none;
	list-style-position:outside;
}

a{
	color:@link_color;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

a img,fieldset{
	border:none 0;
}

fieldset legend{
	display:none;
}

a,input,button,textarea{
	outline:none;
}

textarea{
	resize:none;
}

table{
	border-collapse:collapse;
	border-spacing:0;
}

em{
	font-style:normal;
}

body{
	font:@font;
	color:@body_color;
	background-color:@body_bg;
}
@import "variable.less";
