/*
 * author   : fekit
 * email    : fekit@8cuo.org
 * filename : *fekit*
 *
 * @param name 	: 模块名称
 * @param class : 模块类名
 * @param time 	: 更新时间
 */

/*
 * name : 常用变量
 * class : None
 * time : 2012-09-21 21:29:30
 */

//默认字号、行高、字体
@font:12pxe('/')1.5 '微软雅黑',Tahoma,simsun,'宋体',Helvetica,simsun,sans-serif;

//默认 body 文字颜色
@body_color:#000;

//默认 body 背景色
@body_bg:#FFF;

//未点击的
//@link_color:blue;

//点击过的
//@visited_color:red;

//鼠标悬停
//@hover_color:black;

//鼠标按下
//@active_color:#F30;

//链接文字颜色
@link_color:#222;

/*************************************************
 * name : 网格参数
 * class : inline_block;
 * time : 2012-09-24 20:48:30
 */
//固定网格总宽
@fixed_width:960px;

//网格列数
@grid_columns:12;

//网格间距
@grid_gutter_width:12px;

//单列宽度
@grid_width:(@fixed_width - (@grid_columns - 1) * @grid_gutter_width) / @grid_columns;

/*************************************************
 * name : inline-block化
 * class : inline_block;
 * time : 2012-09-24 20:48:30
 */

.inline_block{
	display:inline-block;
	*display:inline;
	*zoom:1;
}

/*************************************************
 * name : 单行文字两端对齐
 * class : text_justify
 * time : 2012-09-26 20:48:30
 */
.text_justify{
	text-align:justify;
	text-justify:distribute-all-lines;
}
.text_justify:after{
	content:"";
	display:inline-block;
	width:100%;
	height:0;
	overflow:hidden;
}

/*************************************************
 * name : 清除浮动
 * class : clear | clearfix
 * time : 2012-09-23 20:48:30
 */
//方式一
.clear{
	clear:both;
}

//方式二
.clearfix:after{
	content:"";
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}
.clearfix{
	*zoom:1;
}

/*************************************************
 * name : 0尺寸
 * class : zero_size
 * time : 2012-09-23 20:48:30
 */
.zero_size{
	width:0;
	height:0;
	overflow:hidden;
	font-size:0;
	line-height:999%;
	-webkit-text-size-adjust:none;
	.inline_block;
}

/*************************************************
 * name : 箭头
 * class : arrow
 * time : 2012-09-24 20:48:30
 */

.arrow{
	.zero_size;
	border-style:dashed;
	border-color:transparent;
	vertical-align:middle;
}

/*************************************************
 * name : 翻转|水平翻转|垂直翻转
 * class : rotate | rotate_x | rotate_y
 * time : 2012-09-23 20:48:30
 */
//翻转基类
.rotate (@x:-1, @y:-1){
	-webkit-transform:scale(@x,@y);
	-moz-transform:scale(@x,@y);
	-khtml-transform:scale(@x,@y);
	-o-transform:scale(@x,@y);
	transform:scale(@x,@y);
}

//全翻
.rotate_all{
	filter:FlipH FlipV;
	.rotate;
}

//水平方向
.rotate_x{
	filter:FlipH;
	.rotate(-1,1);
}

//垂直方向
.rotate_y{
	filter:FlipV;
	.rotate(1,-1);
}

/*************************************************
 * name : 消除空格
 * class : trim
 * time : 2012-09-23 20:48:30
 */
.trim{
	font-size:0;
	letter-spacing:-0.5em;
	-webkit-text-size-adjust:none;
	*zoom:1;
}

//子元素还原字号和间距
.revert{
	font-size:12px;
	letter-spacing:normal;
}

//当子元素为行内时使用该类
.trim .trim_item{
	.revert;
	*float:left;
}

/*************************************************
 * name : 水平布局|两端对齐|网格系统
 * class : inline | justify
 * time : 2012-09-23 20:48:30
 */
.inline,.justify,.grid{
	.trim;
}

//两端对齐
.justify,.grid{
	text-align:justify;
	text-justify:distribute-all-lines;
}

.justify:after,
.grid:after{
	content:"";
	display:inline-block;
	width:100%;
	height:0;
	overflow:hidden;
}

//子类类名
.inline_item,.justify_item,.grid_item{
	.revert;
	.inline_block;
	vertical-align:top;
}

//重置子元素对齐方式
.justify_item,.grid_item{
	text-align:left;
	text-justify:auto;
}

/*************************************************
 * name : 固定布局
 * class : fixed
 * time : 2012-09-25 21:48:30
 */
.fixed_item1{ 
	width:@grid_width; 
}

.fixed_item2{ 
	width:@grid_width * 2 + @grid_gutter_width; 
}

.fixed_item3{ 
	width:@grid_width * 3 + @grid_gutter_width * 2; 
}

.fixed_item4{
	width:@grid_width * 4 + @grid_gutter_width * 3; 
}

.fixed_item5{
	width:@grid_width * 5 + @grid_gutter_width * 4; 
}

.fixed_item6{ 
	width:@grid_width * 6 + @grid_gutter_width * 5; 
}

.fixed_item7{ 
	width:@grid_width * 7 + @grid_gutter_width * 6;
}

.fixed_item8{
	width:@grid_width * 8 + @grid_gutter_width * 7;
}

.fixed_item9{
	width:@grid_width * 9 + @grid_gutter_width * 8;
}

.fixed_item10{
	width:@grid_width * 10 + @grid_gutter_width * 9;
}

.fixed_item11{
	width:@grid_width * 11 + @grid_gutter_width * 10;
}

.fixed_item12{
	width:100%;
}

/*************************************************
 * name : 流体布局
 * class : fluid
 * time : 2012-09-25 21:48:30
 */

.fluid{
	
}
