*{
	margin:0;
	padding:0;
}



.ellipse{
	border:2px solid #ccc;
	height:120px;
	overflow:hidden;
	line-height:24px;
}
.ellipse p{
	display:inline-block;
	*display:inline;
	*zoom:1;
}
.ellipse .ep{
	margin-top:-24px;
	position:relative;
	display:inline-block;
}
