html{
	overflow-x:auto;
	overflow-y:scroll;
}
body,ul,ol,p,dl,dd,form,textarea,h1,h2,h3,h4,fieldset,input{
    margin:0;
}

ul,ol,input,button,td,th,fieldset{
    padding:0;
}
ul,ol{
    list-style-type:none;
    list-style-position:outside;
}
a{
    text-decoration:none;
    color:#3B5998;
}
a:hover{
	text-decoration:underline;
}
a img,fieldset{
    border:none;
}
fieldset legend{
	display:none
}
a,input,button,textarea{
	outline:none;
}
textarea{
	resize:none
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
em{
    font-style:normal
}
.clear{
    clear:both;
}
.clearfix:after{
    content:'';
    height:0;
    clear:both;
    display:block;
    overflow:hidden;
}
.clearfix{
	*zoom:1;
}
body{
    font:12px/1.5 "微软雅黑",Tahoma,simsun,'宋体',Helvetica,simsun,sans-serif;
    color:#222;
	background-color:#FFF;
}

.wp{
	text-align:center;
	position:relative;
	width:100%;
	margin:0 auto;
	zoom:1;
}
.wp img{
	vertical-align:bottom;
	cursor:crosshair;
}

.dialog{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:99999;
	display:none;
}
.dialog .cover{
	width:100%;
	height:100%;
	text-indent:-9999em;
	background:#000;
	opacity:0.7;
	filter:alpha(opacity=70);
}
.dialog .cont{
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-240px;
	margin-top:-160px;
	background:#fff;
	width:480px;
	height:320px;
	border-radius:3px;
	border:2px solid #3b5998;
}
/* form start */
.dialog .form{
	margin-top:12px;
	margin-left:12px;
}
.dialog .txt{
	height:25px;
	line-height:25px;
	border:1px solid #777;
	background:#fff;
	width:240px;
}
.dialog .btn{
	padding:2px 8px;
	border:none 0;
	background:#57a000;
	color:#fff;
	border-radius:3px;
	height:23px;
	line-height:22px;
}
.dialog .tarea{
	width:360px;
	height:120px;
	border:1px solid #777;
	overflow-y:auto;
	background:#fff;
}
.dialog .size{
	text-align:center;
	width:50px;
}
.dialog .rect_size span,
.dialog .txt{
	vertical-align:middle;
}
.dialog .uploadfile{
	background:#fff;
	border:1px solid #777;
}
.form,
.form .t{
	display:inline-block;
	*display:inline;
	*zoom:1;
}
.form .item{
	margin-bottom:5px;
	position:relative;
}
.form .field{
	display:block;
	text-align:right;
	line-height:1em;
	position:relative;
	top:8px;
	padding-right:5px;
}
.form .f{
	position:relative;
	right:-100%;
	top:-1em;
	width:1px;
	_width:0;
	margin-right:-9520193%;
}
.form .inline{
	white-space:nowrap;
	display:block;
}
/* form end */

/* jcrop start */
.jcrop{
	position:absolute;
	background:#fff;
	cursor:pointer;
	display:none;
	/*top:100px;*/
	/*left:100px;*/
	/*width:250px;*/
	/*height:250px;*/
	opacity:0.5;
	filter:alpha(opacity=50);
}
.jcrop .line{
	background-image:url(../img/jcrop.gif);
	background-position:0 0;
	overflow:hidden;
	font-size:0;
	position:absolute;
}
.jcrop .top,
.jcrop .bottom{
	width:100%;
	height:1px;
	left:0;
	cursor:row-resize;
}
.jcrop .left,
.jcrop .right{
	height:100%;
	width:1px;
	top:0;
}
.jcrop .top{
	top:0;
}
.jcrop .bottom{
	bottom:0;
}
.jcrop .left{
	left:0;
}
.jcrop .right{
	right:0;
}
.jcrop .rect{
	position:absolute;
	display:block;
	width:9px;
	height:9px;
	border:1px solid #000;
	text-indent:-99em;
	overflow:hidden;
	background:#fff;
	zoom:1;
}
.jcrop .r1,
.jcrop .r2,
.jcrop .r3{
	top:-5px;
}
.jcrop .r5,
.jcrop .r6,
.jcrop .r7{
	bottom:-5px;
}
.jcrop .r3,
.jcrop .r4,
.jcrop .r5{
	right:-5px;
}
.jcrop .r1,
.jcrop .r7,
.jcrop .r8{
	left:-5px;
}
.jcrop .r2,
.jcrop .r6{
	left:50%;
	margin-left:-5px;
	cursor:row-resize;
}
.jcrop .r4,
.jcrop .r8{
	top:50%;
	margin-top:-5px;
	cursor:col-resize;
}
.jcrop .r1{
	cursor:nw-resize;
}
.jcrop .r5{
	cursor:se-resize;
}
.jcrop .r3{
	cursor:ne-resize;
}
.jcrop .r7{
	cursor:sw-resize;
}
/* jcrop end */

/* selected start */
.selected{
	position:absolute;
	opacity:0.4;
	filter:alpha(opacity=40);
}
/* selected end */

/* show dialog */
.hide_scroll,
.hide_scroll body{
	width:100%;
	height:100%;
	overflow:hidden;
}
